

@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat:400&display=swap');

.charsheet {
  background-image: url("https://i.imgur.com/Lmwu11i.png");
  color: #333333;
  width: 850px;
  font-family: 'Montserrat', sans-serif;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  background-color: #e5e5e5;
  border: solid #606060 2.3px;
  position:absolute;
}
  
  
/* -------------------------------------추가옵션--------------------------------------------- */
.sheet-OA_TITLE {
  margin-top: 5px;
  background-color: #606060;
  border-radius: 6px;
  color: #e4e4e5;
  text-align: center;
  font-weight: 900;
}

select.sheet-game-select {
  margin-bottom: 10px;
}

.sheet-OPTIONAL_ADDITION_BOX {
  background-color: #e4e4e5;
  border: 1.5px solid #9b9b9b;
  border-radius: 7px;
  margin: 0px;
  padding-top: 4px;
  padding-bottom: 7px;
  padding-left: 1%;
  padding-right: 1%;
}

.sheet-PLAYRECORD { 
  margin-top: 5px;
  background-color: #606060;
  border-radius: 6px;
  color: #e4e4e5;
  text-align: center;
  font-weight: 900;
}
/* -------------------------------------로고--------------------------------------------- */
.sheet-LOGO {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* -------------------------------------일시적 광기--------------------------------------------- */
.sheet-attr_build {
  text-align: left;
}
/* -------------------------------------------------------------------------- */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

select {
  margin: 0;
  padding: 0;
  border-radius: 9px;
  background-color: #e4e4e5;
  width: 100%;
  text-align: center;
}

/* Tweak repeating section buttons so they have a bottom margin and dont overflow when in edit mode. */
div[class^="repcontrol"] {
  margin: 0 0 0 0;
}

div[class="repcontainer editmode"]
  ~ div[class^="repcontrol"]
  button[class="btn repcontrol_add"] {
  display: inline-block !important;
  visibility: hidden;
}

.charsheet .repcontrol_add,
.charsheet .repcontrol_edit,
.charsheet .repcontrol_del {
  display: block;
  background: #7c746a;
  color: white;
  box-shadow: none;
  font-size: 0.7em;
  height: 1.5em;
}

/* -------------------------------------------------------------------------- */

.charsheet div.sheet-major-wound {
  display: none;
}

.sheet-majorwound[value="1"]:checked ~ div.sheet-major-wound {
  display: block;
}

/* -------------------------------------------------------------------------- */

.charsheet div.sheet-companions {
  display: none;
}

.sheet-togglecompanions[value="1"]:checked ~ div.sheet-companions {
  display: block;
}


/* -------------------------------------------------------------------------- */

.charsheet div.sheet-downtime {
  display: none;
}

.sheet-toggledowntime[value="1"]:checked ~ div.sheet-downtime {
  display: block;
}

/* -------------------------------------------------------------------------- */

.charsheet div.sheet-dicerollsection {
  display: none;
}

.sheet-toggledr[value="1"]:checked ~ div.sheet-dicerollsection {
  display: block;
}

/* ------------------------------Options Config-------------------------------------------- */

.sheet-HideConfig:checked ~ *.sheet-config {
  display: none;
}

.charsheet span.sheet-is-config::after {
  /*Close Config*/
  content: "^";
}

.charsheet .sheet-HideConfig:checked + span.sheet-is-config::after {
  /*Show Configuration*/
  content: "v";
}

.charsheet span.sheet-is-config {
  text-align: center;
  display: inline-block;
  width: 5%;
  height: 16px;
  font-size: 9px;
  background: black;
  color: white;
  border-radius: 4px;
  margin-left: -5%;
}

.charsheet input.sheet-HideConfig {
  width: 5%;
  height: 16px;
  cursor: pointer;
  margin-left: auto;
  margin-top: auto;
  opacity: 0;
  z-index: 9999;
}

.charsheet .sheet-HideConfig:checked + span.sheet-is-config {
  background: black;
  border-radius: 4px;
  color: white;
}

.charsheet label.sheet-configitem {
  margin-left: 10px;
  width: 50px;
  font-size: 0.9em;
}

/* ------------------------------Sheet Arrow-------------------------------------------- */

input.sheet-arrow::after {
  float: left;
  font-family: pictos;
  content: "E";
  opacity: 1.5;
}

input.sheet-arrow {
  float: left;
  font-family: pictos;
  content: "E";
  opacity: 0.5;
}

.charsheet .sheet-arrow:checked ~ div.sheet-skills1 {
  display: none;
}

/* -------------------------------헤드------------------------------------------- */

h4.sheet-section-head1 {
  background-color: #eb5228;
  color: #005aff;
  text-align: center;
  border: 2.5px solid #005aff;
  border-radius: 5px;
  font-weight: black;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 20px;
  -webkit-text-stroke: 1px black;
  padding-top: 1px;
  padding-bottom: 1px;
}

h4.sheet-section-head-HP {
  background-color: #005aff;
  color: #eb5228;
  text-align: center;
  border: 2.5px solid #eb5228;
  border-radius: 5px;
  font-weight: black;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 10px;
  -webkit-text-stroke: 1px black;
  padding-top: 1px;
  padding-bottom: 1px;
}

h4.sheet-section-head-BACKSTORY,
h4.sheet-section-head-GEAR,
h4.sheet-section-head-POSS{
  background-color: #eb5228;
  color: #005aff; 
  text-align: center;
  border: 2.5px solid #005aff; 
  font-weight: black;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 5px;
  -webkit-text-stroke: 1px black;
  padding-top: 1px;
  padding-bottom:1px;
  margin-top:3px;
}

h4.sheet-section-head-LUK,
h4.sheet-section-head-MP,
h4.sheet-section-head-MW,
h4.sheet-section-head-DB,
h4.sheet-section-head-COMBET,
h4.sheet-section-head-TAL {
  background-color: #005aff;
  color: #eb5228;
  text-align: center;
  border: 2.5px solid #eb5228;
  font-weight: black;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 5px;
  -webkit-text-stroke: 1px black;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: -4px;
}

h4.sheet-section-head-SAN {
  background-color: #005aff;
  color: #eb5228;
  text-align: center;
  border: 2.5px solid #eb5228;
  border-radius: 5px;
  font-weight: black;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 10px;
  -webkit-text-stroke: 1px black;
  padding-top: 1px;
  padding-bottom: 1px;
}

h4.sheet-section-head-DICE,
h4.sheet-section-head-SKILL,
h4.sheet-section-head-VEH,
h4.sheet-section-head-COM,
h4.sheet-section-head-DSPELL {
  background-color: #eb5228;
  color: #005aff;
  text-align: center;
  border: 2.5px solid #005aff;
  border-radius: 5px;
  font-weight: black;
  font-size: 18px;
  letter-spacing: 1px;
  -webkit-text-stroke: 1px black;
}

hr {
  display: block;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
/*-------------------------------------------------조력자 ------------------------------------------------ */

div.sheet-NPC-STAT1-LEFT,
div.sheet-FUNCNPC-CON1,
div.sheet-NPC-STAT-ALL2,
div.sheet-NPC-LEFT{
  float:left;
}


div.sheet-NPC-STAT1-RIGHT,
div.sheet-NPC-STAT2-RIGHT,
div.sheet-NPC-STAT3-RIGHT,
{
  float:right;
}

div.sheet-FUNCNPC-CON2{
  float:right;
  margin-right:-8px;
}

div.sheet-NPC-STAT2-LEFT,
div.sheet-NPC-STAT3-LEFT{
  float:left;
  margin-left:10px;
}

.sheet-NPC-SAN{
background-color: #606060;
border-radius: 4px;
color: #e4e4e5;
margin-bottom: 2px;
text-align: center;
font-weight: normal;
width: 120px;
height: 20px;
font-size: 12px;
margin-right: 2px;
}

.sheet-NPC-BIO{
  background-color: #606060;
  border-radius: 4px;
  color: #e4e4e5;
  margin-bottom: 2px;
  text-align: center;
  font-weight: normal;
  width: 90px;
  height: 20px;
  font-size: 12px;
  margin-right: 2px;
}

input[type="text"].sheet-narrow-input-FUNCNPC{
margin-bottom: 2px; 
height: 20px;
text-align: center;
border-radius: 4px;
max-width:700px;

}

input[type="text"].sheet-narrow-input-NPC {
  background-color: #e4e4e5;
  color: rgb(85, 85, 85);
  height: 20px;
  text-align: center;
  font-weight:400;
  border-radius: 4px;
  margin-bottom: 2px;
  max-width:119px;
}

input[type="text"].sheet-narrow-input-NPC-SAN {
  background-color: #e4e4e5;
  color: rgb(85, 85, 85);
  height: 20px;
  text-align: center;
  font-weight:400;
  border-radius: 4px;
  margin-bottom: 2px;
  max-width:119px;
}

input[type="text"].sheet-narrow-input-NPCMOV {
  background-color: #e4e4e5;
  color: rgb(85, 85, 85);
  height: 20px;
  text-align: center;
  font-weight:400;
  border-radius: 4px;
  margin-bottom: 2px;
  width:249px;
}

div.sheet-sheet-col-NPC {
float:left;
margin:0%
}


.sheet-SKILL-NPC {
  margin-top: 100px;
  background-color: #606060;
  border-radius: 4px;
  color: #e4e4e5;
  margin-bottom: 2px;
  text-align:center;
  font-weight: bold;
  height: 20PX;
}

.sheet-NPC-STAT-TOP{float:right;}

input[type="text"].sheet-namenpc{float:left;
  border-radius: 5px;
  height: 40PX;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 19px;
}



/*------------------------------------------------- 섹션 박스 ------------------------------------------------ */
div.sheet-section-HP {
  background-color: #e4e4e5;
  border: 2.5px solid #eb5228;
  border-radius: 5px;
  margin: 2px 0 10px 0;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 1%;
  padding-right: 1%;
}

div.sheet-section-DOWNTIME {
  background-color: #e4e4e5;
  border: 1.5px solid #4d4d4d;
  border-radius: 5px;
  margin: 0px;
  padding-top: 4px;
  padding-bottom: 7px;
  padding-left: 1%;
  padding-right: 1%;
}

div.sheet-section-LUK,
div.sheet-section-MP {
  background-color: #e4e4e5;
  border: 2.5px solid #eb5228;
  border-radius: 5px;
  margin: 2px 0px 10px 0px;
  padding-top: 4px;
  padding-bottom: 7px;
  padding-left: 1%;
  padding-right: 1%;
}

div.sheet-section-INFO,
div.sheet-section-CHARIC,
div.sheet-section-DICE,
div.sheet-section-SPELL,
div.sheet-section-COM,
div.sheet-section-VEH {
  background-color: #e4e4e5;
  border: 2.5px solid #005aff;
  border-radius: 5px;
  margin: 2px 0 10px 0;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 1%;
  padding-right: 1%;
}


div.sheet-section-SKILL {
  background-color: #e4e4e5;
  border: 2.5px solid #005aff;
  border-radius: 5px;
  margin: 2px 0 10px 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1%;
  padding-right: 1%;
}

div.sheet-section-SAN {
  background-color: #e4e4e5;
  border: 2.5px solid #eb5228;
  border-radius: 5px;
  margin: 2px 0 10px 0;
  padding-top: 4px;
  padding: 1%;
  padding-bottom: 5px;
}

div.sheet-section-COMBAT,
div.sheet-section-POSS,
div.sheet-section-BACKSTORY,
div.sheet-section-DB,
div.sheet-section-MW {
  background-color: #e4e4e5;
  border: 2.5px solid #eb5228;
  border-radius: 5px;
  margin: 2px 0 10px 0;
  padding-top: 4px;
  padding-bottom: 5px;
  padding: 1%;
}

div.sheet-section-POSS,
div.sheet-section-BACKSTORY{
  background-color: #e4e4e5;
  border: 2.5px solid #005aff;
  border-radius: 5px;
  margin: 2px 0 10px 0;
  padding-top: 4px;
  padding-bottom: 5px;
  padding: 1%;
}

div.sheet-section-GEAR {
  background-color: #e4e4e5;
  border: 2.5px solid #005aff;
  border-radius: 5px;
  margin: 2px 0 10px 0;
  padding-bottom: 5px;
  padding: 1%;
}

table td.sheet-attr {
  width: 13.33%;
  height: 58px;
}

table td.sheet-attr-label {
  height: 56px;
  font-size: 120%;
  text-align: center;
}

input[type="text1"] {
  margin: 2px;
  height: 24px;
}

input[type="text"].sheet-attr-input {
  width: 55px;
  height: 45px;
  font-size: 200%;
  text-align: center;
  background-color: #e4e4e5;
  border-radius: 8px;
  margin-right:-20px;
  font-weight: 400;
}

table td.sheet-attr-roll {
  height: 56px;
  text-align: center;
  border-radius: 10px;
  background-color: #e4e4e5;
}

input[type="number"].sheet-secondary-attr-input {
  width: 100%;
  text-align: center;
  border-radius: 9px;
  background-color: #e4e4e5;
}

table td.sheet-skill-label {
  width: 100%;
  height: 23px;
  padding-left: 2px;
}

input[type="text"].sheet-skill-input {
  width: 30px;
  height: 20px;
  text-align: center;
  background-color: #e4e4e5;
  margin-bottom: 1px;
  border-radius: 6px;
}

input[type="number"].sheet-skill-input {
  width: 30px;
  height: 21px;
  text-align: center;
  margin-bottom: 1px;
  border-radius: 6px;
  background-color: #e4e4e5;
}

input[type="text"].sheet-skill-name-input {
  height: 20px;
  text-align: left;
  margin-bottom: 1px;
  border-radius: 6px;
  background-color: #e4e4e5;
}

td.sheet-otherskill-reminder {
  font-size: 80%;
  border-radius: 10px;
}

input[type="text"].sheet-narrow-input {
  background-color: #e4e4e5;
  color: black;
  height: 20px;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
  margin-top: 10px;
}

textarea.sheet-backstory-box {
  background-color: #e4e4e5;
  height: 75px;

}

textarea {
  resize: vertical;
  margin: 0 0 0 0;
}


input {
  background-color: #e4e4e5;
  border-radius: 8px;
}

/* ------------------------------------------ */ /* Roll Templates */ /* --------------------------------------- */

.sheet-otherclass_Con {
  border: 0.3px solid rgb(170, 170, 170);
  border-radius: 8px;
}

/* ------------------------------------------ */ /* Roll Templates */ /* --------------------------------------- */

/* BD/PD defence rolltemplate */
.sheet-rolltemplate-coc-defence table {
  width: 100%;
  border: 1px solid black;
  color: black;
  background: #ffffff;
}
.sheet-rolltemplate-coc-defence caption {
  text-align: center;
  background: black;
  color: white;
  font-weight: bold;
  padding: 2px;
  border: 1px solid black;
  line-height: 1.6em;
}

.sheet-rolltemplate-coc-defence td {
  padding: 2px;
  border-bottom: 1px solid black;
}

.sheet-rolltemplate-coc-defence td.sheet-template_label {
  font-weight: bold;
}

.sheet-rolltemplate-coc-defence td.sheet-template_value {
  text-align: center;
}

.sheet-rolltemplate-coc-defence .inlinerollresult {
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc-defence .inlinerollresult.fullcrit {
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc-defence .inlinerollresult.fullfail {
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc-defence .inlinerollresult.importantroll {
  border: 2px solid black;
  background: #bebebe;
}

/* simple defence rolltemplate */
.sheet-rolltemplate-coc-defence-1 table {
  width: 100%;
  border: 1px solid black;
  color: black;
  background: #ffffff;
}

.sheet-rolltemplate-coc-defence-1 caption {
  text-align: center;
  background: black;
  color: white;
  font-weight: bold;
  padding: 2px;
  border: 1px solid black;
  line-height: 1.6em;
}

.sheet-rolltemplate-coc-defence-1 td {
  padding: 2px;
  border-bottom: 1px solid black;
}

.sheet-rolltemplate-coc-defence-1 td.sheet-template_label {
  font-weight: bold;
}

.sheet-rolltemplate-coc-defence-1 td.sheet-template_value {
  text-align: center;
}

.sheet-rolltemplate-coc-defence-1 .inlinerollresult {
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc-defence-1 .inlinerollresult.fullcrit {
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc-defence-1 .inlinerollresult.fullfail {
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc-defence-1 .inlinerollresult.importantroll {
  border: 2px solid black;
  background: #bebebe;
}

/* Vehicular Attack rolltemplate */
.sheet-rolltemplate-coc-vehicleattack table {
  width: 100%;
  border: 1px solid black;
  color: black;
  background: #ffffff;
}
.sheet-rolltemplate-coc-vehicleattack caption {
  text-align: center;
  background: black;
  color: white;
  font-weight: bold;
  padding: 2px;
  border: 1px solid black;
  line-height: 1.6em;
}

.sheet-rolltemplate-coc-vehicleattack td {
  padding: 2px;
  border-bottom: 1px solid black;
}

.sheet-rolltemplate-coc-vehicleattack td.sheet-template_label {
  font-weight: bold;
}

.sheet-rolltemplate-coc-vehicleattack td.sheet-template_value {
  text-align: center;
}

.sheet-rolltemplate-coc-vehicleattack .inlinerollresult {
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc-vehicleattack .inlinerollresult.fullcrit {
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc-vehicleattack .inlinerollresult.fullfail {
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc-vehicleattack .inlinerollresult.importantroll {
  border: 2px solid black;
  background: #bebebe;
}

/* PD/BD rolltemplate */
.sheet-rolltemplate-coc table {
  width: 100%;
  border: 1px solid black;
  color: black;
  background: #ffffff;
}

.sheet-rolltemplate-coc caption {
  text-align: center;
  background: black;
  color: white;
  font-weight: bold;
  padding: 2px;
  border: 1px solid black;
  line-height: 1.6em;
}

.sheet-rolltemplate-coc td {
  padding: 2px;
  border-bottom: 1px solid black;
}

.sheet-rolltemplate-coc td.sheet-template_label {
  font-weight: bold;
}

.sheet-rolltemplate-coc td.sheet-template_value {
  text-align: center;
}

.sheet-rolltemplate-coc .inlinerollresult {
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc .inlinerollresult.fullcrit {
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc .inlinerollresult.fullfail {
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc .inlinerollresult.importantroll {
  border: 2px solid black;
  background: #bebebe;
}

/* -------------------------------------------------------------------------- */

/*  PD/BD Attack rolltemplate */
.sheet-rolltemplate-coc-attack table {
  width: 100%;
  border: 1px solid black;
  color: black;
  background: #ffffff;
}

.sheet-rolltemplate-coc-attack caption {
  text-align: center;
  background: black;
  color: white;
  font-weight: bold;
  padding: 2px;
  border: 1px solid black;
  line-height: 1.6em;
}

.sheet-rolltemplate-coc-attack td {
  padding: 2px;
  border-bottom: 1px solid black;
}

.sheet-rolltemplate-coc-attack td.sheet-template_label {
  font-weight: bold;
}

.sheet-rolltemplate-coc-attack td.sheet-template_value {
  text-align: center;
}

.sheet-rolltemplate-coc-attack .inlinerollresult {
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc-attack .inlinerollresult.fullcrit {
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc-attack .inlinerollresult.fullfail {
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc-attack .inlinerollresult.importantroll {
  border: 2px solid black;
  background: #bebebe;
}

/* -------------------------------------------------------------------------- */

/* simple (no PD/BD) rolltemplate */
.sheet-rolltemplate-coc-1 table {
  width: 100%;
  border: 1px solid black;
  color: black;
  background: #ffffff;
}

.sheet-rolltemplate-coc-1 caption {
  text-align: center;
  background: black;
  color: white;
  font-weight: bold;
  padding: 2px;
  border: 1px solid black;
  line-height: 1.6em;
}

.sheet-rolltemplate-coc-1 td {
  padding: 2px;
  border-bottom: 1px solid black;
}

.sheet-rolltemplate-coc-1 td.sheet-template_label {
  font-weight: bold;
}

.sheet-rolltemplate-coc-1 td.sheet-template_value {
  text-align: center;
}

.sheet-rolltemplate-coc-1 .inlinerollresult {
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc-1 .inlinerollresult.fullcrit {
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc-1 .inlinerollresult.fullfail {
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc-1 .inlinerollresult.importantroll {
  border: 2px solid black;
  background: #bebebe;
}

/* -------------------------------------------------------------------------- */

/* simple (no PD/BD) Attack rolltemplate */

.sheet-rolltemplate-coc-attack-1 table {
  width: 100%;
  border: 1px solid black;
  color: black;
  background: #ffffff;
}

.sheet-rolltemplate-coc-attack-1 caption {
  text-align: center;
  background: black;
  color: white;
  font-weight: bold;
  padding: 2px;
  border: 1px solid black;
  line-height: 1.6em;
}

.sheet-rolltemplate-coc-attack-1 td {
  padding: 2px;
  border-bottom: 1px solid black;
}

.sheet-rolltemplate-coc-attack-1 td.sheet-template_label {
  font-weight: bold;
}

.sheet-rolltemplate-coc-attack-1 td.sheet-template_value {
  text-align: center;
}

.sheet-rolltemplate-coc-attack-1 .inlinerollresult {
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc-attack-1 .inlinerollresult.fullcrit {
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc-attack-1 .inlinerollresult.fullfail {
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc-attack-1 .inlinerollresult.importantroll {
  border: 2px solid black;
  background: #bebebe;
}

/* -------------------------------------------------------------------------- */
/* simple dice-roll rolltemplate */
.sheet-rolltemplate-coc-dice-roll table {
  width: 100%;
  border: 1px solid black;
  color: black;
  background: #ffffff;
}

.sheet-rolltemplate-coc-dice-roll caption {
  text-align: center;
  background: black;
  color: white;
  font-weight: bold;
  padding: 2px;
  border: 1px solid black;
  line-height: 1.6em;
}

.sheet-rolltemplate-coc-dice-roll td {
  padding: 2px;
  border-bottom: 1px solid black;
}

.sheet-rolltemplate-coc-dice-roll td.sheet-template_label {
  font-weight: Bold;
}

.sheet-rolltemplate-coc-dice-roll td.sheet-template_value {
  text-align: center;
}

.sheet-rolltemplate-coc-dice-roll .inlinerollresult {
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc-dice-roll .inlinerollresult.importantroll {
  border: 2px solid black;
  background: #bebebe;
}

/* Bout of Madness- Real Time */
.sheet-rolltemplate-coc-bomadness-rt table {
  width: 100%;
  border: 1px solid black;
  color: black;
  background: #ffffff;
}

.sheet-rolltemplate-coc-bomadness-rt caption {
  text-align: center;
  background: black;
  color: white;
  font-weight: bold;
  padding: 2px;
  border: 1px solid black;
  line-height: 1.6em;
}

.sheet-rolltemplate-coc-bomadness-rt td {
  padding: 2px;
  border-bottom: 1px solid black;
}
.sheet-rolltemplate-coc-bomadness-rt td.sheet-template_label {
  font-weight: Bold;
}

.sheet-rolltemplate-coc-bomadness-rt td.sheet-template_value {
  text-align: center;
  background: #ffffff;
}

.sheet-rolltemplate-coc-bomadness-rt .inlinerollresult {
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc-bomadness-rt .inlinerollresult.importantroll {
  border: 2px solid black;
  background: #bebebe;
}

/* -------------------------------------------------------------------------- */
/* Bout of Madness- Summary */
.sheet-rolltemplate-coc-bomadness-summ table {
  width: 100%;
  border: 1px solid black;
  color: black;
  background: #ffffff;
}

.sheet-rolltemplate-coc-bomadness-summ caption {
  text-align: center;
  background: black;
  color: white;
  font-weight: bold;
  padding: 2px;
  border: 1px solid black;
  line-height: 1.6em;
}

.sheet-rolltemplate-coc-bomadness-summ td {
  padding: 2px;
  border-bottom: 1px solid black;
}

.sheet-rolltemplate-coc-bomadness-summ td.sheet-template_label {
  font-weight: Bold;
}

.sheet-rolltemplate-coc-bomadness-summ td.sheet-template_value {
  text-align: center;
  background: #ffffff;
}

.sheet-rolltemplate-coc-bomadness-summ .inlinerollresult {
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc-bomadness-summ .inlinerollresult.importantroll {
  border: 2px solid black;
  background: #bebebe;
}

/* -------------------------------------------------------------------------- */
/* simple defence rolltemplate */
.sheet-rolltemplate-coc-defence-2 table {
  width: 100%;
  border: 1px solid black;
  color: black;
  background: #e3dedb;
}

.sheet-rolltemplate-coc-defence-2 caption {
  text-align: center;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 2px;
  border: 1px solid black;
  line-height: 1.6em;
}

.sheet-rolltemplate-coc-defence-2 td {
  padding: 2px;
  border-bottom: 1px solid black;
  background: #efefef;
}

.sheet-rolltemplate-coc-defence-2 td.sheet-template_label {
  font-weight: Bold;
  background: #efefef;
}

.sheet-rolltemplate-coc-defence-2 td.sheet-template_value {
  text-align: center;
  background: #efefef;
}

.sheet-rolltemplate-coc-defence-2 .inlinerollresult {
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
  border: 2px solid black;
  background: #c3c9bd;
}

/* -------------------------------------------------------------------------- */
/* Minion (no PD/BD) Attack rolltemplate */

.sheet-rolltemplate-coc-minionattack table {
  width: 100%;
  border: 1px solid black;
  color: black;
  background: #ffffff;
}

.sheet-rolltemplate-coc-minionattack caption {
  text-align: center;
  background: black;
  color: white;
  font-weight: bold;
  padding: 2px;
  border: 1px solid black;
  line-height: 1.6em;
}

.sheet-rolltemplate-coc-minionattack td {
  padding: 2px;
  border-bottom: 1px solid black;
}

.sheet-rolltemplate-coc-minionattack td.sheet-template_label {
  font-weight: bold;
}

.sheet-rolltemplate-coc-minionattack td.sheet-template_value {
  text-align: center;
}

.sheet-rolltemplate-coc-minionattack .inlinerollresult {
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc-minionattack .inlinerollresult.fullcrit {
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc-minionattack .inlinerollresult.fullfail {
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc-minionattack .inlinerollresult.importantroll {
  border: 2px solid black;
  background: #bebebe;
}

/* -------------------------------------------------------------------------- */
/* minion defence rolltemplate */
.sheet-rolltemplate-coc-miniondef table {
  width: 100%;
  border: 1px solid black;
  color: black;
  background: #e3dedb;
}

.sheet-rolltemplate-coc-miniondef caption {
  text-align: center;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 2px;
  border: 1px solid black;
  line-height: 1.6em;
}

.sheet-rolltemplate-coc-miniondef td {
  padding: 2px;
  border-bottom: 1px solid black;
  background: #efefef;
}

.sheet-rolltemplate-coc-miniondef td.sheet-template_label {
  font-weight: Bold;
  background: #efefef;
}

.sheet-rolltemplate-coc-miniondef td.sheet-template_value {
  text-align: center;
  background: #efefef;
}

.sheet-rolltemplate-coc-miniondef .inlinerollresult {
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
  border: 2px solid black;
  background: #c3c9bd;
}

/* -------------------------------------------------명중------------------------------------------------------ */
/* Body hit Location */
.sheet-rolltemplate-coc-body-hit-loc table {
  width: 100%;
  border: 1px solid black;
  color: black;
  background: #ffffff;
  text-align: center;
}

.sheet-rolltemplate-coc-body-hit-loc caption {
  text-align: center;
  background: black;
  color: white;
  font-weight: bold;
  padding: 2px;
  border: 1px solid black;
  line-height: 1.6em;
}

.sheet-rolltemplate-coc-body-hit-loc td {
  padding: 2px;
  border-bottom: 1px solid black;
  text-align: center;
}

.sheet-rolltemplate-coc-body-hit-loc td.sheet-template_label {
  font-weight: Bold;
  text-align: center;
}

.sheet-rolltemplate-coc-body-hit-loc td.sheet-template_value {
  text-align: center;
}

.sheet-rolltemplate-coc-body-hit-loc .inlinerollresult {
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
  border: 2px solid black;
  background: #bebebe;
}

.sheet-rolltemplate-coc--body-hit-loc .inlinerollresult.importantroll {
  border: 2px solid black;
  background: #bebebe;
  text-align: center;
}

/* ----------------------------------------------------체력---------------------------------------------------*/

.sheet-HP-SECTION {
  /* ----------체력 더미 -------------*/
}
.sheet-HP-SECTION-ROW1 {
  /* ----------체력 1단-------------*/
}

input[type="text"].sheet-secondary-attr-input-HP {
  text-align: center;
  border-radius: 5px;
  background-color: #e4e4e5;
  height: 22px;
  width: 49%;
  float: left;
  margin-right: 3px;
}

input[type="number"].sheet-secondary-attr-input-HP {
  text-align: center;
  border-radius: 5px;
  background-color: #e4e4e5;
  height: 22px;
  width: 49%;
}

.sheet-HP-SECTION-ROW2 {
  /* ----------체력 2단-------------*/
}

.sheet-HP-ROW2-1 {
  float: left;
}

.sheet-HP-ROW2-2 {
  float: right;
}

/* ----------------------------------------------------행운---------------------------------------------------*/

.sheet-LUK-SECTION {
  /* ----------행운 더미 -------------*/
}

input[type="number"].sheet-secondary-attr-input-LUK {
  float: left;
  text-align: center;
  border-radius: 5px;
  background-color: #e4e4e5;
  height: 22px;
  width: 78%;
  margin-right: 4px;
}
button[type="roll"].sheet-LUK1:before{
    content: ' ';
}
  
  button[type="roll"].sheet-LUK1:hover{
    background-position: 0;
    background-image: url(https://i.imgur.com/1G05Eic.png);
    background-color:#f5f5f5;
}

button[type="roll"].sheet-LUK1 {
  background-color: transparent;
  background-image: url(https://i.imgur.com/RAns6gp.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: #eb5228 solid 1px;
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
}
button[type="roll"].sheet-LUK2:before{
    content: ' ';
}

  button[type="roll"].sheet-LUK2:hover{
    background-position: 0;
    background-color:#f5f5f5;
    background-image:url(https://i.imgur.com/tMNyarO.png);
}

button[type="roll"].sheet-LUK2 {
    background-color: transparent;
  background: url(https://i.imgur.com/qVOpoHm.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: #005aff solid 1px;
  height: 20px;
  width: 20px;
  margin-left: 2px;
  padding: 0;
}

/* ---------------------------------------------------마력---------------------------------------------------*/
.sheet-MP-SECTION {
  /* ----------마력 더미 -------------*/
}

input[type="text"].sheet-secondary-attr-input-MP {
  text-align: center;
  border-radius: 5px;
  background-color: #e4e4e5;
  height: 22px;
  width: 49%;
  float: left;
  margin-right: 3px;
}
input[type="number"].sheet-secondary-attr-input-MP {
  text-align: center;
  border-radius: 5px;
  background-color: #e4e4e5;
  height: 22px;
  width: 49%;
}

/* ---------------------------------------------------피해보너스&체구---------------------------------------------------*/
select .sheet-attr_damage_bonus {
  margin: 0;
  padding: 0;
  border-radius: 9px;
  background-color: #e4e4e5;
  width: 100%;
  text-align: center;
}

input[type="text"].sheet-secondary-attr-input-BD {
  text-align: center;
  width: 100%;
  background-color: #e4e4e5;
  border-radius: 9px;
}

/* ---------------------------------------------------이성---------------------------------------------------*/
.sheet-SAN-ROW1 {
  width: 100%;
  padding-top: 5px;
}

input[type="text"].sheet-secondary-attr-input-SAN {
  text-align: center;
  border-radius: 5px;
  background-color: #e4e4e5;
  height: 22px;
  width: 25%;
}

input[type="number"].sheet-secondary-attr-input-SAN {
  text-align: center;
  border-radius: 5px;
  background-color: #e4e4e5;
  height: 22px;
  width: 25%;
}

.sheet-SANC_CONTAINER {
  /*광기 상태*/
}

.sheet-SANC_ROW1 {
  float: left;
}
.sheet-SANC_ROW2 {
  float: right;
}

.sheet-SANC_TEMP {
  float: left;
  margin-left: 1px;
  margin-right: 5px;
}

input[type="checkbox"].sheet-attr_temp_insane {
  float: right;
}

.sheet-SANC_LONG {
  float: left;
  margin-right: 5px;
}

input[type="checkbox"].sheet-attr_indef_insane {
  float: right;
}

.sheet-BOM_CONTAINER {
  /*광기의 발작*/
}

.sheet-BOM_TITLE {
  background-color: #606060;
  border-radius: 5px;
  color: #e4e4e5;
  margin-top: 28px;
  margin-bottom: 3px;
}

.sheet-NCMC_CONTAINTER {
  /* Normal Current Mental Condition*/
}

.sheet-NCMC_TITLE {
  background-color: #606060;
  border-radius: 5px;
  color: #e4e4e5;
  margin-top: 30px;
  margin-bottom: 3px;
}

.sheet-BOM_ROW_CON {
  /*광기의 발작*/
}
.sheet-BOM_ROW1 {
  float: left;
  margin-left: 1px;
}
.sheet-BOM_ROW2 {
  float: right;
}

/* -----------------------------------------------전투 ---------------------------------------- */
input[type="text"].sheet-unarmed {
  background-color: #eeeeee;
  border-radius: 5px;
  color: #606060;
  height: 23px;
  border: #cccccc solid 1px;
  margin-bottom: 2px;
}

input[type="text"].sheet-ATK {
  background-color: #eeeeee;
  border-radius: 3px;
  color: #606060;
  height: 23px;
  border: #cccccc solid 1px;
  margin-bottom: 2px;
}

select.sheet-ATK {
  background-color: #eeeeee;
  border-radius: 3px;
  color: #606060;
  height: 23px;
  border: #cccccc solid 1px;
  margin-bottom: 2px;
}
/* ------------------------------------------------장비---------------------------------------- */

textarea.sheet-POSS1 {
  background-color: #e4e4e5;
  border-radius: 4px;
  width: 95%;
  margin-left:4px;
  height: 120px;
}
textarea.sheet-POSS2 {
  background-color: #e4e4e5;
  border-radius: 4px;
  width: 95%;
  height: 120px;
}

textarea.sheet-ASSET {
  background-color: #e4e4e5;
  border-radius: 4px;
  width: 97%;
  height: 70px;
}

.sheet-SUB-TITLE-GEAR {
  background-color: #606060;
  border-radius: 4px;
  color: #e4e4e5;
  margin-bottom: 3px;
  text-align: center;
  font-weight: bold;
  width: 100%;
  margin-left:4px;
  margin-top: 10px;
}
.sheet-SUB-TITLE-POSESSI {
  background-color: #606060;
  border-radius: 4px;
  color: #e4e4e5;
  margin-bottom: 3px;
  text-align: center;
  font-weight: bold;
  width: 100%;
  margin-top: 10px;
}

.sheet-SUB-TITLE-ASSET {
  background-color: #606060;
  border-radius: 4px;
  color: #e4e4e5;
  margin-bottom: 3px;
  text-align: center;
  font-weight: bold;
  width: 100%;
  margin-top: 10px;
}

input[type="text"].sheet-cash {
  background-color: #eeeeee;
  border-radius: 4px;
  height: 23px;
}
input[type="text"].sheet-spend {
  background-color: #eeeeee;
  border-radius: 4px;
  height: 23px;
  margin-bottom: 3px;
}

/* ------------------------------------------------ */ /* 다이스 */ /* ---------------------------------------- */
button[type="roll"].sheet-old-roll:before{
    content: ' ';
}
  
  button[type="roll"].sheet-old-roll:hover{
    background-position: 0;
    background-image: url(https://i.imgur.com/1G05Eic.png);
    background-color:#f5f5f5;
}
  

/* 보너스 다이스  */
button[type="roll"].sheet-old-roll {
  background-color: transparent;
  background-image: url(https://i.imgur.com/RAns6gp.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: #eb5228 solid 1px;
  height: 20px;
  width: 20px;
  margin-left: 10%;
  padding: 0;
}

button[type="roll"].sheet-SAN1:before{
    content: ' ';
}
  
  button[type="roll"].sheet-SAN1:hover{
    background-position: 0;
    background-image: url(https://i.imgur.com/1G05Eic.png);
    background-color:#f5f5f5;
}

button[type="roll"].sheet-SAN1 {
   background-color: transparent;
  background-image: url(https://i.imgur.com/RAns6gp.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: #eb5228 solid 1px;
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
}

button[type="roll"].sheet-ATK1:before{
    content: ' ';
}
  
  button[type="roll"].sheet-ATK1:hover{
    background-position: 0;
    background-image: url(https://i.imgur.com/1G05Eic.png);
    background-color:#f5f5f5;
}

button[type="roll"].sheet-ATK1 {
  background-color: transparent;
  background-image: url(https://i.imgur.com/RAns6gp.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: #eb5228 solid 1.7px;
  height: 17px;
  width: 17px;
  margin: 0;
  padding: 0;
  margin-left: 2px;
}

/* --------------------------------------------------기본 다이스-------------------------------------------------- */

button[type="roll"].sheet-new-roll:before{
    content: ' ';
}
  
  button[type="roll"].sheet-new-roll:hover{
    background-position: 0;
    background-color:#f5f5f5;
    background-image:url(https://i.imgur.com/tMNyarO.png);
    
}

button[type="roll"].sheet-new-roll {
  background-color: transparent;
  background-image: url(https://i.imgur.com/qVOpoHm.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: #005aff solid 1px;

  height: 20px;
  width: 20px;
  margin-left: 10%;
  padding: 0;
}

button[type="roll"].sheet-SAN2:before{
    content: ' ';
}
  
  button[type="roll"].sheet-SAN2:hover{
    background-position: 0;
    background-color:#f5f5f5;
    background-image:url(https://i.imgur.com/tMNyarO.png);
}
button[type="roll"].sheet-SAN2 {
  background-color: transparent;
  background-image: url(https://i.imgur.com/qVOpoHm.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: #005aff solid 1px;

  height: 20px;
  width: 20px;
  margin-left: 2px;
  padding: 0;
}

button[type="roll"].sheet-ATK2:before{
  content: ' ';
}
  
  button[type="roll"].sheet-ATK2:hover{
    background-position: 0;
    background-color:#f5f5f5;
    background-image:url(https://i.imgur.com/tMNyarO.png);
}

button[type="roll"].sheet-ATK2 {
  background-color: transparent;
  background-image: url(https://i.imgur.com/qVOpoHm.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: #005aff solid 1.7px;

  height: 17px;
  width: 17px;
  margin-left: 1px;
  padding: 0;
}

/* -------------------------------------------------------------------------------------------------------------- */
input[type="text"].sheet-narrow-input-sanstart {
  background-color: #606060;
  border-radius: 5px;
  color: #e4e4e5;
  font-weight: 500;
  height: 18px;
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 3px;
  border: 0px;
}

input[type="text"].sheet-narrow-input-sanstart::placeholder {
  color: #e4e4e5;
}

.sheet-BUTTON_DESCRIPTION {
  float: left;
}

button[type="roll"].sheet-dice-roll:before{
    content: ' ';
}

  button[type="roll"].sheet-dice-roll:hover{
    background-position: 0;
    background-color:#f1f1f1;
}
button[type="roll"].sheet-dice-roll {
  background-image: url(https://i.imgur.com/jBsVUKm.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: #606060 solid 1.1px;
  border-radius: 3px;
  height: 11px;
  width: 11px;
  margin-left: 5px;
  margin-top: 2px;
  padding: 0;
  float: right;
}

/* -------------------------------------------------------------------------- */

/* Button Smaller */
button[type="roll"].sheet-smallbutton-roll {
  color: #18650d;
  background-color: #248c15;
  font-weight: bolder;
  font-size: 12px;
  text-align: center;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0em;
  border: 1px solid black;
  border-radius: 5px;
  background-size: auto;
}

/* -------------------------------------------------------------------------- */
/*명중 */
button[type="roll"].sheet-smallnonskillbutton-roll {
  color: #261c19;
  background-color: #261c19261c19;
  font-weight: bolder;
  font-size: 12px;
  text-align: center;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0em;
  border: 1px solid black;
  border-radius: 5px;
}

/* -------------------------------------------------------------------------- */
/* Button Even Smaller */
button[type="roll"].sheet-evensmallerbutton-roll {
  color: #261c19;
  background-color: #1a1a1a;
  font-weight: bolder;
  font-size: 1px;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0em;
  border: 1px solid black;
  border-radius: 5px;
}
