@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SpoqaHanSansNeo-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "YUniverse-B";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 배경/기본 ---------------------------------------------------*/
.charsheet.bind hr {
  margin: 0px;
}
.charsheet select,
.charsheet div,
.charsheet button,
.charsheet textarea,
.charsheet span,
.charsheet img,
.charsheet label {
  box-sizing: border-box;
  outline: 0;
}
.charsheet .bind select,
.charsheet .bind input[type="checkbox"],
.charsheet .bind input[type="radio"],
.charsheet .bind button {
  cursor: pointer;
}
.charsheet .bind input {
  box-sizing: border-box;
  outline: 0;
  padding: 0px;
  text-align: center;
}
.charsheet .bind input:focus,
.charsheet .bind textarea:focus {
  outline: none;
}
.charsheet .bind button.btn.ui-draggable::before {
  content: " ";
}
.charsheet .bind button[type="roll"] {
  border: none;
  padding: 0px !important;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: none;
  margin: auto;
}
/* 디폴트 스타일 값 ---------------------------------------------------*/
.charsheet {
  color: #6b6363;
  background-color: #ffff;
  border: solid #ffff 1px;
  font-family: "SpoqaHanSansNeo-Regular";
  font-size: 12px;
  border-radius: 3px;
  background-image: url("https://park-mob.com/lv99/data/commission/04-cmbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 830px;
  position: absolute;
}
.wrap {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.7) 100%
  );
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}
.title {
  letter-spacing: 6px;
  color: transparent;
  text-shadow: 0 0 1px rgb(255, 148, 148);
  font-family: "Chosunilbo_myungjo";
  font-size: 15px;

  /* font-family: "GangwonEdu_OTFBoldA";
  color: rgb(255, 148, 148);
  letter-spacing: 5px;*/
  text-align: center;
  margin: 10px;
  /*text-shadow: #ffffff 1px 0px 0px, #ffffff 1px 1px 0px, #ffffff -1px -1px 0px,
    #ffffff 0px -1px 0px, #ffffff 0px 1px 0px, #ffffff 1px 0px 0px,
    #ffffff -1px 1px 0px;*/
}
.title::before,
.title::after {
  content: "";
  font-family: "YUniverse-B";
}

.subtitle {
  text-align: center;
}
.box {
}
.charsheet input {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(255, 189, 102);
  border: 1px solid white;
  text-align: center;
}
.charcheet textarea {
}
/* 옵션 ---------------------------------------------------*/
input.option.area:checked ~ *.function.wrap {
  display: none;
}
input.option.area {
  width: 150px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
  margin-top: auto;
  opacity: 0;
  z-index: 9999;
  border-radius: 4px;
}
input.option.area:checked + a.option.btn::after {
  content: "SEE OPTION";
}
input.option.area:checked ~ *.function.wrap {
  display: none;
}
a.option.btn {
  padding: 0px 35px;
  transition: 0.8s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
  background-image: linear-gradient(
    to right,
    #ffecd2 0%,
    #fcb69f 51%,
    #ffecd2 100%
  );
  margin-left: -150px;
}
a.option.btn:hover {
  color: white;
  transition: 0.8s;
  background-position: right center;
  text-decoration: none;
}
a.option.btn::after {
  content: "HIDE OPTION";
}
.function.title {
}
.function.box {
}
/* 플레이 기록 ---------------------------------------------------*/
.downtime.wrap {
  display: none;
  padding: 20px;
}
input.add_function_downtime[value="1"]:checked ~ .downtime.wrap {
  display: block;
}
.downtime.title {
  margin-top: 0px;
}
.downtime.box {
}
.downtime.line1 {
  display: grid;
  grid-template-columns: 0.4fr 3fr;
  text-align: left;
  margin-bottom: 10px;
}
input.senario-title {
  width: 100%;
  text-align: left !important;
  font-family: "Chosunilbo_myungjo";
  font-size: 11px;
}
.downtime.line2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
textarea.attr_scenario_info,
textarea.attr_scenario_rewards {
  font-size: 11px;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(88, 85, 85);
  border: 1px solid white;
  font-family: "Chosunilbo_myungjo";

  height: 100px;
  font-size: 11px;
}
/* 배경 헤더 이미지 ---------------------------------------------------*/
.header {
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* 상단 스테이터스 ---------------------------------------------------*/
.topstatus.wrap {
  background: transparent;
  text-align: right;
  padding: 0px;
}
.topstatus.title {
  margin: 0px;
}
.topstatus.box {
}
.topstatus.subtitle {
  display: flex;
  flex-direction: row-reverse;
  color: rgb(255, 148, 148);
}
.topstatus.index {
  width: 60px;
  margin: 1px;
}
input.topstatus {
  width: 60px;
  height: 40px !important;
  margin-top: -3px !important;
}
select.topstatus {
  width: 60px;
  height: 40px !important;
  margin: 0px !important;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(255, 189, 102);
  border: 1px solid white;
}
/*로고---------------------------------------------------*/
.logo.wrap {
  text-align: center;
  background: transparent;
  padding: 0px;
}
img.logo {
  width: 85%;
  margin: 0 auto;
}
/*그리드---------------------------------------------------*/
.basic {
  display: grid;
  grid-template-columns: 1.4fr 1.8fr 1fr;
  margin-bottom: 20px;
  background: linear-gradient(
    0deg,
    rgba(255, 186, 186, 0.5312718837535014) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  padding-bottom: 0px;
  border-radius: 10px;
}
/*인장---------------------------------------------------*/
.info.wrap {
  grid-area: 1 / 1 / 3 / 2;
  background: transparent;
  padding: 0px;
  margin-left: 20px;
}
.avater-frame2 {
  position: absolute;
  width: 230px;
  height: 290px;
  background-color: transparent;
  transform: rotate(-10deg);
}
.avater-frame1 {
  position: absolute;
  width: 230px;
  height: 290px;
  background-color: transparent;
  transform: rotate(3deg);
  filter: brightness(0.95);
}

img.avater {
  display: block;
  width: 150px;
  height: 190px;
  margin: 20px 40px;
  overflow: hidden;
  object-fit: cover;
  z-index: 0;
  background-color: #ffecd2;
}
.frame {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-image: url(https://i.imgur.com/qzuIdLH.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
input.MAJORWOUNDT[value="1"]:checked ~ img.avater {
  display: block;
  opacity: 100%;
  background-image: none;
  background-color: rgba(27, 27, 27, 0.7);
  filter: grayscale(55%);
}
input.DYINGT[value="2"]:checked ~ img.avater {
  display: block;
  background-image: none;
  opacity: 100%;
  background-color: rgba(27, 27, 27, 0.8);
  filter: grayscale(100%);
}
input.MAJORWOUNDT[value="1"]:checked ~ div.frame {
  background-image: url(https://i.imgur.com/arkN7wE.png);
  background-repeat: no-repeat;
  filter: brightness(0.9);
}
input.DYINGT[value="2"]:checked ~ div.frame {
  background-image: url(https://i.imgur.com/arkN7wE.png);
  background-repeat: no-repeat;
  filter: brightness(0.8);
}
/* 바이오 */
.bio.wrap {
  position: absolute;
  z-index: 2;
  padding: 0px;
  top: 230px;
  background-color: transparent;
  font-family: "GangwonEdu_OTFBoldA";
  width: 165px;
  margin: 0px 32px;
}
input.bio {
  background-color: transparent;
  border: none;
}
.bio.line1 {
  text-align: left;
}
input.bio.line1 {
  text-align: left;
  margin-left: 5px;
  width: 100%;
  color: rgb(14, 14, 14);
}
.bio.line2 {
  text-align: right;
  margin-right: 5px;
}
input.bio.line2 {
  text-align: right;
  margin-right: 5px !important;
  width: 100%;
  color: rgb(14, 14, 14);
}
/* 특성치 ---------------------------------------------------*/
.status.wrap {
}
.status.title {
  margin-top: 0px;
}
.status.box {
  display: grid;
  row-gap: 2px;
}
.status.section {
  display: grid;
  grid-template-columns: repeat(3, 2fr 1fr 1fr);
}
.status.section1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  margin-bottom: 3px;
}
.status.subtitle {
  font-family: "SpoqaHanSansNeo-Medium";
  text-align: right;
  margin-right: 5px;
}
input.status {
  width: fit-content;
  width: 75px;
  height: 35px !important;
  font-size: 15px;
}
button[type="roll"].status:hover {
  background-position: 0;
  background-color: transparent;
  background-image: url(https://i.imgur.com/nzhBB3M.png);
}
button[type="roll"].status {
  background-color: transparent;
  background-image: url(https://i.imgur.com/5CYx0uF.png);
  height: 19px;
  width: 19px;
  border-radius: 4px;
  border: none;
  justify-self: end;
}
button[type="roll"].status1:hover {
  background-position: 0;
  background-color: transparent;
  background-image: url(https://i.imgur.com/nzhBB3M.png);
}
button[type="roll"].status1 {
  background-color: transparent;
  background-image: url(https://i.imgur.com/qy3jEYR.png);
  height: 19px;
  width: 19px;
  border-radius: 4px;
  border: none;
  justify-self: end;
  margin-right: 17px !important;
}
/* 이성 ---------------------------------------------------*/
.san.wrap {
  margin-left: 0px;
}
.san.title {
  margin-top: 0px;
}
.san.box {
}

input.san::placeholder {
  color: rgb(255, 189, 102);
}
/* 1줄:이성치기입 */
.san.section1 {
  margin-bottom: 20px;
}
input.san.start {
  margin-bottom: 5px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgb(255, 148, 148);
  border: 1px solid rgb(255, 169, 169);
}
input.san.start::placeholder {
  color: rgb(255, 148, 148);
}
input[type="number"].san.current {
  width: 4.08em;
}
button[type="roll"].san.current:hover {
  background-position: 0;
  background-color: transparent;
  background-image: url(https://i.imgur.com/nzhBB3M.png);
}
button[type="roll"].san.current {
  background-color: transparent;
  background-image: url(https://i.imgur.com/5CYx0uF.png);
  height: 20px;
  width: 20px;
  border: none;
  justify-self: end;
}
button.san.current2:hover {
  background-position: 0;
  background-color: transparent;
  background-image: url(https://i.imgur.com/nzhBB3M.png);
}
button[type="roll"].san.current2 {
  background-color: transparent;
  background-image: url(https://i.imgur.com/qy3jEYR.png);
  height: 20px;
  width: 20px;
  border: none;
  justify-self: end;
}
/* 2줄:광기의 발작 */
.san.section2 {
  margin-bottom: 20px;
}
.san.subtitle {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgb(255, 148, 148);
  border: 1px solid rgb(255, 169, 169);

  margin-bottom: 5px;
  border-radius: 3px;
}
.san.bom {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr 1fr;

  align-items: center;
  justify-items: center;
}
.san.bomindication {
  font-size: 9px;
}
input.san.bom {
}
button[type="roll"].san.bom:hover {
  background-position: 0;
  background-color: transparent;
  background-image: url(https://i.imgur.com/nzhBB3M.png);
}
button[type="roll"].san.bom {
  background-color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  background-image: url(https://i.imgur.com/5CYx0uF.png);
  height: 13px;
  width: 13px;
  border: 1px solid #ffffff;
  justify-self: end;
  border-radius: 2.5px;
}

button[type="roll"].san.bom1:hover {
  background-position: 0;
  background-color: transparent;
  background-image: url(https://i.imgur.com/nzhBB3M.png);
}
button[type="roll"].san.bom1 {
  background-color: rgba(255, 255, 255, 0.7);
  background-image: url(https://i.imgur.com/5CYx0uF.png);
  height: 13px;
  width: 13px;
  border: 1px solid #ffffff;
  justify-self: end;
  border-radius: 2.5px;
}

/* 3줄:현재 정신상태 */
.san.section3 {
}
input.san.cmc {
  color: rgb(255, 189, 102);
}
input.san.cmc::placeholder {
  color: rgb(255, 189, 102);
}
/* 체력---------------------------------------------------*/
.hp.wrap {
  margin-top: 0px;
}
.hp.title {
  margin-top: 0px;
}
.hp.box {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-bottom: 5px;
}
.hp.line1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}
input.secondary-attr-input-HP {
  width: 100% !important;
}
input.secondary-attr-input-HP::placeholder {
  color: rgb(255, 189, 102);
}
.hp.line2 {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
}
/*마력---------------------------------------------------*/
.mp.wrap {
  margin-left: 0px;
  margin-top: 0px;
}
.mp.title {
  margin-top: 0px;
}
.mp.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  margin-top: 4px;
  margin-bottom: 5px;
}
input.mp {
  width: 100% !important;
}
input.mp::placeholder {
  color: rgb(255, 189, 102);
}
/*다이스---------------------------------------------------*/
.dice.wrap {
  display: none;
  background: rgba(255, 255, 255, 0.6);
}
input.add_function_dice[value="1"]:checked ~ .dice.wrap {
  display: block;
}
.dice.title {
}
.dice.box {
  padding: 0px 10px;
}
.dice.line1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
input.dice-roll-input {
  background: transparent;
  border: none;
  width: 100%;
}
input.dice-roll-input::placeholder {
  color: rgb(255, 169, 169);
}
.dice.line2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.dice.subtitle {
}
button[type="roll"].smallnonskillbutton-roll {
  background-color: transparent;
  background-image: url(https://i.imgur.com/wyOUw0G.png);
  border: 1px solid #767676;
  justify-self: end;
  border-radius: 2.5px;
  width: 18px;
  height: 18px;
}
button[type="roll"].smallnonskillbutton-roll:hover {
  background-position: 0;
  background-color: transparent;
  background-image: url(https://i.imgur.com/SlJN9T9.png);
}
/*구분선-------------------------------------------- */

/*접기*/
.sub-logo.wrap {
  background: transparent;
}

/* 기능치--------------------------------------------- */
.skill.wrap {
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.6);
}
.skill.title {
}
.skill.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  padding: 10px 20px 10px 20px;
}
.skillset {
  display: grid;
  grid-template-columns: 0.5fr 5fr 1fr 1fr 1fr;
  margin: 1px;
}
.skill.subtitle {
  color: #6b6363;
  text-align: left;
  border: none;
  margin-left: 5px;
}
input.skill.name {
  background: rgba(255, 255, 255, 0.6);
  width: 50px;
  margin-right: 5px !important;
}
input.skill.name.additional {
  border: none;
  background-color: transparent;
  font-size: 12px;
  width: 100%;
  text-align: left;
  margin-left: 5px;
  color: #6b6363;
}

input.skill.name.additional::placeholder {
  color: #9e9696;
}

/*체크박스*/
input.skill.cb {
  cursor: pointer !important;
  margin-left: auto;
  margin-top: auto;
  position: absolute;
  z-index: 9999 !important;
  opacity: 0;
}
.fake.cb {
  width: 13px;
  height: 13px;
  background-image: url(https://i.imgur.com/tZi4N9n.png);
  background-size: contain;
}
input.skill.cb.cb[value="1"]:checked ~ .fake.cb {
  background-image: url(https://i.imgur.com/91NOSJT.png);
}

/* 버튼*/
button[type="roll"].skill:hover {
  background-position: 0;
  background-color: transparent;
  background-image: url(https://i.imgur.com/nzhBB3M.png);
}
button[type="roll"].skill {
  background-color: transparent;
  background-image: url(https://i.imgur.com/5CYx0uF.png);
  height: 20px;
  width: 20px;
  border: none;
  justify-self: end;
}
/* 기능치 버튼*/
button[type="roll"].skill2:hover {
  background-position: 0;
  background-color: transparent;
  background-image: url(https://i.imgur.com/nzhBB3M.png);
}
button[type="roll"].skill2 {
  background-color: transparent;
  background-image: url(https://i.imgur.com/qy3jEYR.png);
  height: 20px;
  width: 20px;
  border: none;
  justify-self: end;
}
/* 다른 기능치*/
.skill-reminder.wrap {
  padding: 0px;
  background: transparent;
  position: absolute;
  color: #9e9696;
  margin-top: 20px;
}
.skill-reminder.subtitle {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}
.skill-reminder.subbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 10px;
}
.skill-reminder.otherskill {
}

input[type="checkbox"].skill.cb {
  display: block;
  margin: 0px 5px 0px 0px;
}
/* 전투-------------------------------------------- */
.combet.wrap {
  background: rgba(255, 255, 255, 0.6);
}
.combet.title {
}
.combet.box {
  padding: 0px 20px 0px 20px;
}
.combet.line,
.combet.line1 {
  display: flex;
}
.combet.line1 > input.ATK,
.combet.line1 > select.ATK {
  color: #6b6363;
}
select.ATK {
  width: 114.89px;
  margin: 0px;
  height: 20px;
  padding: 0px;
  text-align: center;
  margin: 1px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #6b6363;
  border: 1px solid white;
  font-size: 11px;
}
input.ATK {
  width: 70px;
  margin: 1px;
  font-size: 11px;
  color: #6b6363;
}
input.ATK::placeholder {
  color: #6b6363;
}
input.ATK.dif {
  width: 121.85px;
  margin: 1px;
  color: #6b6363;
}
input.ATK.dif1 {
  width: 114.2px;
  margin: 1px;
  color: #6b6363;
}
input.ATK.dif2 {
  width: 121.85px;
  margin: 1px;
}
/* 버튼*/
button[type="roll"].ATK1:hover {
  background-position: 0;
  background-color: transparent;
  background-image: url(https://i.imgur.com/nzhBB3M.png);
}
button[type="roll"].ATK1 {
  background-color: transparent;
  background-image: url(https://i.imgur.com/5CYx0uF.png);
  height: 20px;
  width: 20px;
  border: none;
  justify-self: end;
  margin: 1px !important;
}
/* 버튼*/
button[type="roll"].ATK2:hover {
  background-position: 0;
  background-color: transparent;
  background-image: url(https://i.imgur.com/5CYx0uF.png);
}
button[type="roll"].ATK2 {
  background-color: transparent;
  background-image: url(https://i.imgur.com/qy3jEYR.png);
  height: 20px;
  width: 20px;
  border: none;
  margin: 1px !important;
}
/* 장비와 소지품-------------------------------------------- */
.gear_poss.wrap {
  background: transparent;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}
/* 장비 */
.gear.wrap,
.poss.wrap {
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
}
.gear.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
}
.gear.subtitle {
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 2px;
  width: 100%;
}
textarea.EQUIP,
textarea.BELONG,
textarea.ASSET {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(88, 85, 85);
  border: 1px solid white;
  font-family: "Chosunilbo_myungjo";
  font-size: 11px;
}
textarea.EQUIP,
textarea.BELONG {
}
/* 현금과 자산 */
.poss.title {
}
.poss.box {
  display: grid;
  row-gap: 3px;
}
.poss.section1 {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.poss.section1 > .poss.subtitle {
  text-align: left;
}
.poss.section2 {
  display: grid;
}
.poss.section2 > .poss.subtitle {
  margin-top: 10px;
}
input.CASH,
input.SPEND {
  width: 100%;
  font-family: "Chosunilbo_myungjo";
  font-size: 11px;
}
textarea.ASSET {
  height: 100px;
}
/* 백스토리---------------------------------------- */
.backstory.wrap {
  background: rgba(255, 255, 255, 0.6);
}
.backstory.title {
}
.backstory.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  column-gap: 20px;
}
textarea.backstory-box {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(88, 85, 85);
  border: 1px solid white;
  font-family: "Chosunilbo_myungjo";

  height: 120px;
  font-size: 11px;
}
/*반복 버튼-------------------------------------------- */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

div[class^="repcontrol"] {
  margin: 0 0 0;
}

div[class="repcontainer editmode"]
  ~ div[class^="repcontrol"]
  button[class="btn repcontrol_add"] {
  display: inline-block !important;
  visibility: hidden;
}
.charsheet .repcontainer .repitem .itemcontrol .repcontrol_move {
  cursor: move;
  text-shadow: none;
  height: 16px;
  width: 16px;
  padding: 0px;
  color: white;
  border: 1px solid white;
  background: rgb(255, 189, 102);
}
.charsheet .repcontrol_edit,
.charsheet .repcontrol_del {
  display: block;
  border: 1px solid white;
  background: rgb(255, 189, 102);
  color: white;
  box-shadow: none;
  font-size: 8px;
  text-shadow: none;
  padding: 0px 10px !important;
}
.charsheet .repcontrol_add {
  display: block;
  border: 1px solid white;
  background: rgb(255, 189, 102);
  color: white;
  box-shadow: none;
  font-size: 8px;
  text-shadow: none;
  padding: 0px 10px !important;
}
/*조력자 ---------------------------------------------------*/
input.add_function_npcsheet[value="1"]:checked ~ div.npc.wrap {
  display: block;
}
.charsheet div.npc.wrap {
  display: none;
}
.npc.wrap {
  margin: 0 auto;
}
.npc.box {
  margin: 0px 10px;
}
.npc.title {
  letter-spacing: 8px;
  font-family: "Chosunilbo_myungjo";
  font-size: 15px;
  margin: 0px 0px 10px 0px;
  color: #dcdee4;
}
.npc-section1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 5px;
}
input.namenpc {
  border-radius: 5px;
  height: 41px !important;
  font-size: 19px;

  width: 100%;
  text-align: center;
}
input.namenpc::placeholder {
  color: rgb(255, 169, 169);
}
.NPC-san1 {
  background-color: transparent;
  color: white;

  border-radius: 4px;
  margin-bottom: 2px;
  text-align: center;
  font-weight: normal;
  height: 20px;
  font-size: 12px;
  margin-right: 2px;
}
.NPC-san2 {
  display: grid;
  grid-template-columns: 6fr 1fr;
  justify-items: end;
}
input[type="text"].narrow-input-NPC-san {
  height: 20px;
  text-align: center;
  font-weight: 400;
  border-radius: 4px;
  width: 100%;
}
textarea.npc {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(255, 148, 148);
  border: 1px solid white;
  font-family: "Chosunilbo_myungjo";

  margin-bottom: 10px;
  font-size: 11px;
}
.NPC-section2 {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  column-gap: 10px;
}
.npc.subtitle {
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  margin-bottom: 2px;
  text-align: center;
  font-weight: normal;
  height: 20px;
  font-size: 12px;
}
.npc-statbox {
  display: flex;
  margin-bottom: 10px;
}
input.npc-stat {
  background-color: #ffffff2d;
  border: none;
  color: white;
  text-align: center;
  width: 100%;
}
input.npc-stat::placeholder {
  color: rgb(255, 169, 169);
}
input.npc-stat1 {
  background-color: #ffffff2d;
  border: none;
  color: white;
  text-align: center;
  width: 100%;
}
input.npc-stat1::placeholder {
}

.NPC-section3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
.npc-statbox1 {
  display: grid;
  grid-template-columns: 3fr 1fr 0.1fr;
  column-gap: 2px;
  margin-bottom: 2px;
}
/* 조력자 버튼 */
button[type="roll"].smallbutton-roll:hover {
  background-position: 0;
  background-color: transparent;
  background-image: url(https://i.imgur.com/SlJN9T9.png);
}
button[type="roll"].smallbutton-roll {
  background-color: transparent;
  background-image: url(https://i.imgur.com/wyOUw0G.png);
  border: 1px solid #767676;
  justify-self: end;
  border-radius: 2.5px;
  width: 18px;
  height: 18px;
}
/*하단 장식----------------------------------------------------- */
.footer {
  text-align: center;
  margin: 20px;
}
.type2 {
  font-family: "Chosunilbo_myungjo";
  font-size: 8px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 3px;
  color: transparent;
  text-shadow: 0 0 1px rgb(255 179 89);
}
/* ------------ 롤테이블------------------------------------------------------ */
/*기본 다이스---------------------------------------------------*/
.sheet-rolltemplate-coc-dice-roll {
  width: 100%;
  text-align: center;
  font-family: "SpoqaHanSansNeo-Regular";
  color: white;
}
.sheet-rolltemplate-coc-dice-roll div.sheet-top {
  font-weight: bold;
  background-color: rgb(255, 148, 148);
  border-radius: 4px;
  padding: 1px 10px;
  margin-bottom: 2px;
  text-align: left;
  letter-spacing: 3px;
  color: transparent;
  text-shadow: 0 0 1px white;
  font-family: "Chosunilbo_myungjo";
  font-size: 10px;
}
.sheet-rolltemplate-coc-dice-roll div.sheet-body {
background: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
}
.sheet-rolltemplate-coc-dice-roll div.sheet-result{
font-size:18px;
color:rgb(255, 189, 102);
margin:20px;
}
.sheet-rolltemplate-coc-dice-roll .inlinerollresult,
.sheet-rolltemplate-coc-dice-roll .inlinerollresult.fullcrit,
.sheet-rolltemplate-coc-dice-roll .inlinerollresult.fullfail,
.sheet-rolltemplate-coc-dice-roll .inlinerollresult.importantroll {
  background-color: transparent;
  border: none;
}
/* ---- 명중 ----*/
.sheet-rolltemplate-coc-body-hit-loc {
  width: 100%;
  text-align: center;
  font-family: "SpoqaHanSansNeo-Regular";
  color: white;
}
.sheet-rolltemplate-coc-body-hit-loc  div.sheet-top {
  font-weight: bold;
  background-color: rgb(255, 148, 148);
  border-radius: 4px;
  padding: 1px 10px;
  margin-bottom: 2px;
  text-align: left;
  letter-spacing: 3px;
  color: transparent;
  text-shadow: 0 0 1px white;
  font-family: "Chosunilbo_myungjo";
  font}
  .sheet-rolltemplate-coc-body-hit-loc div.sheet-body {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid white;
  }
  .sheet-rolltemplate-coc-body-hit-loc div.sheet-section1{
    font-size: 12px;
    color: #c4c4c4;
    margin-top:20px;

  }
    .sheet-rolltemplate-coc-body-hit-loc div.sheet-section2{
      font-size:18px;
      color:rgb(255, 189, 102);
      margin-bottom:20px;
  }
  .sheet-rolltemplate-coc-body-hit-loc .inlinerollresult,
  .sheet-rolltemplate-coc-body-hit-loc .inlinerollresult.fullcrit,
  .sheet-rolltemplate-coc-body-hit-loc.inlinerollresult.fullfail,
  .sheet-rolltemplate-coc-body-hit-loc .inlinerollresult.importantroll {
  background-color: transparent;
  border: none;
}
/* 실시간 광기의 발작 롤테이블 ---------------------------------------------------*/
.sheet-rolltemplate-coc-bomadness-rt {
  width: 100%;
  text-align: center;
  font-family: "SpoqaHanSansNeo-Regular";
  color: white;
}

/*메인*/
.sheet-rolltemplate-coc-bomadness-rt div.sheet-body {
  margin-bottom: 2px;
  background-image: url(https://i.imgur.com/gX8l7qm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 0px;
  border-radius: 4px;
  border: 1px solid white;
}

.sheet-rolltemplate-coc-bomadness-rt div.sheet-section1 {
  margin-bottom: 10px;
}
.sheet-rolltemplate-coc-bomadness-rt div.sheet-lable {
  font-size: 10px;
  text-align: left;
  margin-left: 5px;
  color: rgb(255, 189, 102);
}
.sheet-rolltemplate-coc-bomadness-rt div.sheet-section2 {
}
.sheet-rolltemplate-coc-bomadness-rt div.sheet-lable1 {
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 8px rgb(255 94 94), 1px 1px 10px #ccc;
  text-align: center;
  margin: 10px;
}
.sheet-rolltemplate-coc-bomadness-rt div.sheet-description {
  text-align: left;
  font-size: 12px;
  margin: 10px;
  background: #ffffffb3;
  border-radius: 10px;
  border: 1px solid white;
  color: #fe9494;
  padding: 5px;
}
.sheet-rolltemplate-coc-bomadness-rt div.sheet-foot {
  text-align: left;
  font-size: 12px;
  background-color: rgb(255, 189, 102);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 2px 10px;
}
/*디폴트*/
.sheet-rolltemplate-coc-bomadness-rt .inlinerollresult,
.sheet-rolltemplate-coc-bomadness-rt .inlinerollresult.fullcrit,
.sheet-rolltemplate-coc-bomadness-rt.inlinerollresult.fullfail,
.sheet-rolltemplate-coc-bomadness-rt .inlinerollresult.importantroll {
  background-color: transparent;
  border: none;
}
/* 요약 광기의 발작 테이블 ---------------------------------------------------*/
.sheet-rolltemplate-coc-bomadness-summ {
  width: 100%;
  text-align: center;
  font-family: "SpoqaHanSansNeo-Regular";
  color: white;
}
/*메인*/
.sheet-rolltemplate-coc-bomadness-summ div.sheet-body {
  margin-bottom: 2px;
  background-image: url(https://i.imgur.com/gX8l7qm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 0px;
  border-radius: 4px;
  border: 1px solid white;
}
.sheet-rolltemplate-coc-1 div.sheet-section1 {
  margin-bottom: 10px;
}
.sheet-rolltemplate-coc-bomadness-summ div.sheet-lable {
  font-size: 10px;
  text-align: left;
  margin-left: 5px;
  color: rgb(255, 189, 102);
}
.sheet-rolltemplate-coc-1 div.sheet-section2 {
}
.sheet-rolltemplate-coc-bomadness-summ div.sheet-lable1 {
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 8px rgb(255 94 94), 1px 1px 10px #ccc;
  text-align: center;
  margin: 10px;
}
.sheet-rolltemplate-coc-bomadness-summ div.sheet-description {
  text-align: left;
  font-size: 12px;
  margin: 10px;
  background: #ffffffb3;
  border-radius: 10px;
  border: 1px solid white;
  color: #fe9494;
  padding: 5px;
}
/*디폴트*/
.sheet-rolltemplate-coc-bomadness-summ .inlinerollresult,
.sheet-rolltemplate-coc-bomadness-summ .inlinerollresult.fullcrit,
.sheet-rolltemplate-coc-bomadness-summ .inlinerollresult.fullfail,
.sheet-rolltemplate-coc-bomadness-summ .inlinerollresult.importantroll {
  background-color: transparent;
  border: none;
}
/* 기능치/보너스 롤테이블 ---------------------------------------------------*/
.sheet-rolltemplate-coc {
  width: 100%;
}
.sheet-rolltemplate-coc {
  width: 100%;
  text-align: center;
  font-family: "SpoqaHanSansNeo-Regular";
  color: white;
}
/*상단*/
.sheet-rolltemplate-coc div.sheet-top {
  font-weight: bold;
  background-color: rgb(255, 148, 148);
  border-radius: 4px;
  padding: 1px 10px;
  margin-bottom: 2px;
  text-align: left;
  letter-spacing: 3px;
  color: transparent;
  text-shadow: 0 0 1px white;
  font-family: "Chosunilbo_myungjo";
  font-size: 10px;
}
/*메인*/
.sheet-rolltemplate-coc div.sheet-body {
  margin-bottom: 2px;
  background-image: url(https://i.imgur.com/gX8l7qm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 0px;
  border-radius: 4px;
  border: 1px solid white;
}
/*메인 줄1*/
.sheet-rolltemplate-coc div.sheet-section {
  letter-spacing: 6px;
  color: rgb(255 148 148);
  text-shadow: 0 0 1px rgb(255 148 148);
  font-family: "Chosunilbo_myungjo";
  font-size: 15px;
}
.sheet-rolltemplate-coc div.sheet-section1 {
  margin: 10px 0px;
}
.sheet-rolltemplate-coc div.sheet-guide {
  font-size: 12px;
  color: #c4c4c4;
  background: white;
  border-radius: 10px;
  margin: 2px 20px;
}
.sheet-rolltemplate-coc div.sheet-rolled {
  color: #ff7b7b;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 0px 20px;
}
.sheet-rolltemplate-coc div.sheet-section2 {
  padding: 10px 20px;
}
.sheet-rolltemplate-coc div.sheet-pair {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 1px;
  background-color: #ffffff8f;
}
.sheet-rolltemplate-coc div.sheet-pair-lable {
  color: #ffaeae;
}
.sheet-rolltemplate-coc div.sheet-pair-result {
  font-size: 12px;
  color: rgb(255, 148, 148);
  text-shadow: 1px 1px 10px #ffffff, 1px 1px 10px #ccc;
  text-align: center;
}
/* 하단 */
.sheet-rolltemplate-coc div.sheet-foot {
  text-align: left;
  font-size: 12px;
  background-color: rgb(255, 189, 102);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 2px 10px;
}
/*디폴트*/
.sheet-rolltemplate-coc .inlinerollresult,
.sheet-rolltemplate-coc .inlinerollresult.fullcrit,
.sheet-rolltemplate-coc .inlinerollresult.fullfail,
.sheet-rolltemplate-coc .inlinerollresult.importantroll {
  background-color: transparent;
  border: none;
}
/*이미지*/
.sheet-rolltemplate-coc img.TEMBG-T {
  width: 96%;
  margin-bottom: -50px;
}
.sheet-rolltemplate-coc img.TEMBG-B {
  margin-top: -50px;
  width: 96%;
}
/*공격/보너스 롤테이블 ---------------------------------------------------*/
.sheet-rolltemplate-coc-attack {
  width: 100%;
  text-align: center;
  font-family: "SpoqaHanSansNeo-Regular";
  color: white;
}
/*상단*/
.sheet-rolltemplate-coc-attack div.sheet-top {
  font-weight: bold;
  background-color: rgb(255, 148, 148);
  border-radius: 4px;
  padding: 1px 10px;
  margin-bottom: 2px;
  text-align: left;
  letter-spacing: 3px;
  color: transparent;
  text-shadow: 0 0 1px white;
  font-family: "Chosunilbo_myungjo";
  font-size: 10px;
}
/*메인*/
.sheet-rolltemplate-coc-attack div.sheet-body {
  margin-bottom: 2px;
  background-image: url(https://i.imgur.com/gX8l7qm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 0px;
  border-radius: 4px;
  border: 1px solid white;
}
/*메인 줄1*/
.sheet-rolltemplate-coc-attack div.sheet-section {
  letter-spacing: 6px;
  color: rgb(255 148 148);
  text-shadow: 0 0 1px rgb(255 148 148);
  font-family: "Chosunilbo_myungjo";
  font-size: 15px;
}
.sheet-rolltemplate-coc-attack div.sheet-section1 {
  margin: 10px 0px;
}
.sheet-rolltemplate-coc-attack div.sheet-guide {
  font-size: 12px;
  color: #c4c4c4;
  background: white;
  border-radius: 10px;
  margin: 2px 20px;
}
.sheet-rolltemplate-coc-attack div.sheet-rolled {
  color: #ff7b7b;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 0px 20px;
}
.sheet-rolltemplate-coc-attack div.sheet-section2 {
  padding: 10px 20px;
}
.sheet-rolltemplate-coc-attack div.sheet-pair {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 1px;
  background-color: #ffffff8f;
}
.sheet-rolltemplate-coc-attack div.sheet-pair-lable {
  color: #ffaeae;
}
.sheet-rolltemplate-coc-attack div.sheet-pair-result {
  font-size: 12px;
  font-size: 12px;
  color: #ff7b7b;
  text-shadow: 1px 1px 10px #ffffff, 1px 1px 10px #ccc;
  text-align: center;
}
/* 하단 */
.sheet-rolltemplate-coc-attack div.sheet-foot {
  text-align: left;
  font-size: 12px;
  background-color: rgb(255, 189, 102);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 2px 10px;
}
/*디폴트*/
.sheet-rolltemplate-coc-attack .inlinerollresult,
.sheet-rolltemplate-coc-attack .inlinerollresult.fullcrit,
.sheet-rolltemplate-coc-attack .inlinerollresult.fullfail,
.sheet-rolltemplate-coc-attack .inlinerollresult.importantroll {
  background-color: transparent;
  border: none;
}
/*이미지*/
.sheet-rolltemplate-coc-attack img.TEMBG-T {
  width: 96%;
  margin-bottom: -50px;
}
.sheet-rolltemplate-coc-attack img.TEMBG-B {
  margin-top: -50px;
  width: 96%;
}
/* 기능치 롤테이블 ---------------------------------------------------*/
.sheet-rolltemplate-coc-1 {
  width: 100%;
  text-align: center;
  font-family: "SpoqaHanSansNeo-Regular";
  color: white;
}
/*상단*/
.sheet-rolltemplate-coc-1 div.sheet-top {
  font-weight: bold;
  background-color: rgb(255, 148, 148);
  border-radius: 4px;
  padding: 1px 10px;
  margin-bottom: 2px;
  text-align: left;
  letter-spacing: 3px;
  color: transparent;
  text-shadow: 0 0 1px white;
  font-family: "Chosunilbo_myungjo";
  font-size: 10px;
}
/*메인*/
.sheet-rolltemplate-coc-1 div.sheet-body {
  margin-bottom: 2px;
  background-image: url(https://i.imgur.com/gX8l7qm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 0px;
  border-radius: 4px;
  border: 1px solid white;
}
.sheet-rolltemplate-coc-1 div.sheet-skill {
  letter-spacing: 6px;
  color: rgb(255 148 148);
  text-shadow: 0 0 1px rgb(255 148 148);
  font-family: "Chosunilbo_myungjo";
  font-size: 15px;
}
.sheet-rolltemplate-coc-1 div.sheet-section1 {
  margin: 10px 0px;
}
.sheet-rolltemplate-coc-1 div.sheet-divet-guide {
  font-size: 12px;
  color: #c4c4c4;
  background: white;
  border-radius: 10px;
  margin: 2px 20px;
}
.sheet-rolltemplate-coc-1 div.sheet-rolled {
  color: #ff7b7b;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 0px 20px;
}
.sheet-rolltemplate-coc-1 div.sheet-section2 {
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 8px rgb(255 94 94), 1px 1px 10px #ccc;
  text-align: center;
}
/*이미지*/

/*디폴트*/
.sheet-rolltemplate-coc-1 .inlinerollresult,
.sheet-rolltemplate-coc-1 .inlinerollresult.fullcrit,
.sheet-rolltemplate-coc-1 .inlinerollresult.fullfail,
.sheet-rolltemplate-coc-1 .inlinerollresult.importantroll {
  background-color: transparent;
  border: none;
}
/* 공격 롤테이블---------------------------------------------------*/
.sheet-rolltemplate-coc-attack-1 {
  width: 100%;
  text-align: center;
  font-family: "SpoqaHanSansNeo-Regular";
  color: white;
}
/*상단*/
.sheet-rolltemplate-coc-attack-1 div.sheet-top {
  font-weight: bold;
  background-color: rgb(255, 148, 148);
  border-radius: 4px;
  padding: 1px 10px;
  margin-bottom: 2px;
  text-align: left;
  letter-spacing: 3px;
  color: transparent;
  text-shadow: 0 0 1px white;
  font-family: "Chosunilbo_myungjo";
  font-size: 10px;
}
/*메인*/
.sheet-rolltemplate-coc-attack-1 div.sheet-body {
  margin-bottom: 2px;
  background-image: url(https://i.imgur.com/gX8l7qm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 0px;
  border-radius: 4px;
  border: 1px solid white;
}
.sheet-rolltemplate-coc-attack-1 div.sheet-skill {
  letter-spacing: 6px;
  color: rgb(255 148 148);
  text-shadow: 0 0 1px rgb(255 148 148);
  font-family: "Chosunilbo_myungjo";
  font-size: 15px;
}
.sheet-rolltemplate-coc-attack-1 div.sheet-section1 {
  margin: 10px 0px;
}
.sheet-rolltemplate-coc-attack-1 div.sheet-divet-guide {
  font-size: 12px;
  color: #c4c4c4;
  background: white;
  border-radius: 10px;
  margin: 2px 20px;
}
.sheet-rolltemplate-coc-attack-1 div.sheet-rolled {
  color: #ff7b7b;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 0px 20px;
}
.sheet-rolltemplate-coc-attack-1 div.sheet-section2 {
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 8px rgb(255 94 94), 1px 1px 10px #ccc;
  text-align: center;
}
/*이미지*/

/*하단*/
.sheet-rolltemplate-coc-attack-1 div.sheet-foot {
  text-align: left;
  font-size: 12px;
  background-color: rgb(255, 189, 102);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 2px 10px;
}
/*디폴트*/
.sheet-rolltemplate-coc-attack-1 .inlinerollresult,
.sheet-rolltemplate-coc-attack-1 .inlinerollresult.fullcrit,
.sheet-rolltemplate-coc-attack-1 .inlinerollresult.fullfail,
.sheet-rolltemplate-coc-attack-1 .inlinerollresult.importantroll {
  background-color: transparent;
  border: none;
}
/* NPC 공격 롤테이블 ---------------------------------------------------*/
.sheet-rolltemplate-coc-minionattack {
  width: 100%;
  text-align: center;
  font-family: "SpoqaHanSansNeo-Regular";
  color: white;
}
/*상단*/
.sheet-rolltemplate-coc-minionattack div.sheet-top {
  font-weight: bold;
  background-color: rgb(255, 148, 148);
  border-radius: 4px;
  padding: 1px 10px;
  margin-bottom: 2px;
  text-align: left;
  letter-spacing: 3px;
  color: transparent;
  text-shadow: 0 0 1px white;
  font-family: "Chosunilbo_myungjo";
  font-size: 10px;
}
/*메인*/
.sheet-rolltemplate-coc-minionattack div.sheet-body {
  margin-bottom: 2px;
  background-image: url(https://i.imgur.com/gX8l7qm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 0px;
  border-radius: 4px;
  border: 1px solid white;
}
.sheet-rolltemplate-coc-minionattack div.sheet-skill {
  letter-spacing: 6px;
  color: rgb(255 148 148);
  text-shadow: 0 0 1px rgb(255 148 148);
  font-family: "Chosunilbo_myungjo";
  font-size: 15px;
}
.sheet-rolltemplate-coc-minionattack div.sheet-section1 {
  margin: 10px 0px;
}
.sheet-rolltemplate-coc-minionattack div.sheet-guid {
  font-size: 12px;
  color: #c4c4c4;
  background: white;
  border-radius: 10px;
  margin: 2px 20px;
}
.sheet-rolltemplate-coc-minionattack div.sheet-rolled {
  color: #ff7b7b;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 0px 20px;
}
.sheet-rolltemplate-coc-minionattack div.sheet-section2 {
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 8px rgb(255 94 94), 1px 1px 10px #ccc;
  text-align: center;
}
/*이미지*/

/*하단*/
.sheet-rolltemplate-coc-minionattack div.sheet-foot {
  text-align: left;
  font-size: 12px;
  background-color: rgb(255, 189, 102);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 2px 10px;
}
/*디폴트*/
.sheet-rolltemplate-coc-minionattack .inlinerollresult,
.sheet-rolltemplate-coc-minionattack .inlinerollresult.fullcrit,
.sheet-rolltemplate-coc-minionattack .inlinerollresult.fullfail,
.sheet-rolltemplate-coc-minionattack .inlinerollresult.importantroll {
  background-color: transparent;
  border: none;
}
