@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
      format("truetype");
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf")
      format("truetype");
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf")
      format("truetype");
}
@font-face {
  font-family: "Yoonwoo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.1/Yoonwoo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/****************************************************
	Reset
****************************************************/

.charsheet select,
.charsheet div,
.charsheet button,
.charsheet textarea,
.charsheet span,
.charsheet input,
.charsheet img,
.charsheet label {
  box-sizing: border-box;
  outline: 0;
  outline: 0;
  appearance: none !important;
  -webkit-appearance: none !important;
}

.ui-dialog .charsheet {
  padding: 0;
}
.charsheet .sheet-wrap {
  font-size: 12px;
}
.charsheet .sheet-wrap * {
  color: #fff;
  outline: 0 !important;
  font-family: "NanumBarunGothic", sans-serif;
  letter-spacing: -0.02em;
}
.charsheet .sheet-wrap p {
  margin: 0;
}
.charsheet .sheet-wrap input,
.charsheet .sheet-wrap textarea,
.charsheet .sheet-wrap select,
.charsheet .sheet-wrap .uneditable-input {
  margin: 0;
  border-radius: 0 !important;
}
.charsheet .sheet-wrap input[type="checkbox"],
.charsheet .sheet-wrap input[type="radio"] {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border: none !important;
}
.charsheet .sheet-wrap input[type="text"],
.charsheet .sheet-wrap input[type="number"] {
  border: none;
  height: 30px;
  border-radius: 0;
  background: transparent;
  padding: 0 5px;
  font-size: 12px;
  width: 100%;
}
.charsheet .sheet-wrap select {
  border: none;
  height: 30px;
  padding: 0 5px;
  font-size: 12px;
  width: 100%;
  background: transparent;
}
.charsheet .sheet-wrap input[type="number"]::-webkit-outer-spin-button,
.charsheet .sheet-wrap input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}
.charsheet .sheet-wrap select,
.charsheet .sheet-wrap input[type="checkbox"],
.charsheet .sheet-wrap input[type="radio"],
.charsheet .sheet-wrap button {
  cursor: pointer;
}
.charsheet .sheet-wrap input:-internal-autofill-selected {
  background-color: transparent !important;
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
}
.charsheet .sheet-wrap input[type="number"] {
}
.charsheet .sheet-wrap select * {
  color: #000 !important;
}
.charsheet .sheet-wrap input[type="checkbox"],
.charsheet .sheet-wrap input[type="radio"],
.charsheet .sheet-wrap button,
.charsheet .sheet-wrap select {
  box-shadow: none !important;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.charsheet .sheet-wrap select {
  padding-right: 15px;
  background: url("https://i.imgur.com/htSLM5m.png") no-repeat top 50% right 2px;
}
.charsheet .sheet-wrap button {
  border: none;
  margin: 0;
  background: transparent;
}
.charsheet .sheet-wrap textarea {
  width: 100%;
  background: transparent;
  border: none;
  resize: none;
  line-height: 1.5;
}
.charsheet .sheet-wrap fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.charsheet .sheet-wrap .repcontainer.editmode .repitem .itemcontrol {
  z-index: 990 !important;
  height: auto;
  top: 0;
  bottom: 0;
}
.charsheet .sheet-wrap .repcontainer.editmode .repitem .itemcontrol button,
.charsheet .sheet-wrap .repcontainer.editmode .repitem .itemcontrol a {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 0;
  line-height: 30px;
  padding: 0;
  text-align: center;
}
.charsheet .sheet-wrap .repcontainer.editmode .repitem .itemcontrol button {
  background: red;
}

.charsheet .sheet-wrap .repcontrol {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  background: #000000;
  border-radius: 9em;
  font-size: 11px;
}
.charsheet .sheet-wrap .repcontrol:before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  top: 5px;
  bottom: 5px;
  left: 50%;
  background: #fff;
  opacity: 0.5;
}
.charsheet .sheet-wrap .repcontrol > * {
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  font-size: 11px;
  font-weight: 400;
  color: #fff;
}

.charsheet .sheet-wrap .sheet-dice {
  display: inline-block;
  vertical-align: middle;
  border: none;
  padding: 0 !important;
  margin: 0 !important;
  width: 20px;
  height: 30px;
  border-radius: 0;
  background: url("https://i.imgur.com/eJkkBy0.png") no-repeat 50% 50%;
}
.charsheet .sheet-wrap .sheet-dice:before {
  display: none !important;
}

.charsheet .sheet-wrap input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.charsheet .sheet-wrap textarea::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.charsheet .sheet-tal {
  text-align: left !important;
}
.charsheet .sheet-tar {
  text-align: right !important;
}
.charsheet .sheet-tac {
  text-align: center !important;
}

.charsheet .sheet-wrap .inlinerollresult {
  display: inline !important;
  font-size: 1em !important;
  opacity: 1 !important;
  padding: 0 !important;
  background: transparent !important;
  border: none !important;
}

/*****************************************
	Dice Control Area
*****************************************/

.charsheet .sheet-dic {
  position: relative;
}

.charsheet .sheet-wrap .sheet-dice-good,
.charsheet .sheet-wrap .sheet-dice-bad,
.charsheet .sheet-wrap .sheet-dice-default {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.charsheet .sheet-wrap .sheet-dice-default {
  display: block !important;
}
.charsheet .sheet-wrap .sheet-dice-good {
  display: none !important;
}
.charsheet .sheet-wrap .sheet-dice-bad {
  display: none !important;
}

.charsheet .sheet-chk-dice-type[value="2"] ~ * .sheet-dice-default {
  display: none !important;
}
.charsheet .sheet-chk-dice-type[value="2"] ~ * .sheet-dice-good {
  display: block !important;
}
.charsheet .sheet-chk-dice-type[value="2"] ~ * .sheet-dice-bad {
  display: none !important;
}

.charsheet .sheet-chk-dice-type[value="3"] ~ * .sheet-dice-default {
  display: none !important;
}
.charsheet .sheet-chk-dice-type[value="3"] ~ * .sheet-dice-good {
  display: none !important;
}
.charsheet .sheet-chk-dice-type[value="3"] ~ * .sheet-dice-bad {
  display: block !important;
}

/****************************************************
	Default Layout
****************************************************/

.charsheet .sheet-wrap {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 850px;
  background: url("https://i.imgur.com/TwTi883.jpg") repeat-y 50% 0;
}
.charsheet .sheet-wrap-inner {
  display: block;
  position: relative;
}

/****************************************************
	Header
****************************************************/

.charsheet .sheet-header {
  position: relative;
  height: 430px;
  padding: 70px 0 0;
  background: url("https://i.imgur.com/i99m6Hu.jpg") no-repeat 0 0;
  overflow: hidden;
  z-index: 0;
}
.charsheet .sheet-header input {
  padding: 0 !important;
}

.charsheet .sheet-header .sheet-select-title {
  position: relative;
  height: 80px;
  background: url("https://i.imgur.com/dBmL1sz.png") no-repeat;
  z-index: 10;
}
.charsheet .sheet-chk-scenario[value=""] ~ * .sheet-select-title {
  background-position: 50% 0 !important;
}
.charsheet .sheet-chk-scenario[value="0"] ~ * .sheet-select-title {
  background-position: 50% 0 !important;
}
.charsheet .sheet-chk-scenario[value="1"] ~ * .sheet-select-title {
  background-position: 50% -80px !important;
}
.charsheet .sheet-chk-scenario[value="2"] ~ * .sheet-select-title {
  background-position: 50% -160px !important;
}
.charsheet .sheet-chk-scenario[value="3"] ~ * .sheet-select-title {
  background-position: 50% -240px !important;
}
.charsheet .sheet-chk-scenario[value="4"] ~ * .sheet-select-title {
  background-position: 50% -320px !important;
}

.charsheet .sheet-header .sheet-select-title > input[type="checkbox"] {
  top: 0;
  height: 70px;
  width: 356px;
  left: 50%;
  margin-left: -178px;
  z-index: 5;
}
.charsheet .sheet-header .sheet-select-title .sheet-select-pannel {
  position: absolute;
  top: 73px;
  width: 356px;
  left: 50%;
  margin-left: -178px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 4;
  border-radius: 10px;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
}
.charsheet
  .sheet-header
  .sheet-select-title
  > input[type="checkbox"]:checked
  ~ .sheet-select-pannel {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}
.charsheet .sheet-header .sheet-select-title .sheet-select-pannel > div {
  display: block;
  position: relative;
  line-height: 30px;
}
.charsheet .sheet-header .sheet-select-title .sheet-select-pannel > div:hover {
  background: rgba(255, 255, 255, 0.2);
}
.charsheet
  .sheet-header
  .sheet-select-title
  .sheet-select-pannel
  > div
  input[type="radio"] {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.charsheet
  .sheet-header
  .sheet-select-title
  .sheet-select-pannel
  > div
  input[type="radio"]:checked
  + span {
  color: #e5cc40;
}
.charsheet .sheet-header .sheet-select-title .sheet-select-pannel > div span {
  display: block;
  position: relative;
  z-index: 0;
  padding: 0 10px;
}

.charsheet .sheet-header .sheet-simple-prof {
  display: block;
  position: absolute;
  left: -5px;
  bottom: -7px;
  width: 378px;
  height: 300px;
  padding: 38px 40px 0 16px;
  background: url("https://i.imgur.com/3JaK8OE.png") no-repeat 0 0;
  transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
}
.charsheet .sheet-header .sheet-has-pic {
  position: relative;
  padding-left: 125px;
  margin-bottom: 10px;
}
.charsheet .sheet-header .sheet-avatar {
  position: absolute;
  width: 112px;
  height: 134px;
  top: 0;
  left: 0;
}
.charsheet .sheet-header .sheet-avatar:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: url("https://i.imgur.com/MlqLXl4.png") no-repeat 50% 50%;
}
.charsheet .sheet-header .sheet-avatar > div {
  display: block;
  position: absolute;
  width: 102px;
  height: 102px;
  top: 10px;
  left: 6px;
  background: url("https://i.imgur.com/RIlbHTQ.png") no-repeat 50% 50%;
  overflow: hidden;
  z-index: 0;
}
.charsheet .sheet-header .sheet-avatar > div img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  height: 100%;
}

.charsheet .sheet-header .sheet-row {
  position: relative;
}
.charsheet .sheet-header .sheet-row,
.charsheet .sheet-header .sheet-row * {
  color: #000;
}
.charsheet .sheet-header .sheet-row input[type="text"],
.charsheet .sheet-header .sheet-row input[type="number"],
.charsheet .sheet-header .sheet-row select {
  height: 29px !important;
}
.charsheet .sheet-header .sheet-row input[type="text"]::placeholder,
.charsheet .sheet-header .sheet-row input[type="number"]::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.charsheet .sheet-header .sheet-row strong {
  display: inline-block;
  position: relative;
  margin-right: 5px;
  line-height: 29px;
  height: 29px;
}
.charsheet .sheet-header .sheet-row strong,
.charsheet .sheet-header .sheet-row input,
.charsheet .sheet-header .sheet-row select {
  vertical-align: middle;
}

.charsheet .sheet-header .sheet-name-box .sheet-owner input {
  height: 15px !important;
  font-size: 12px;
}
.charsheet .sheet-header .sheet-name-box .sheet-name input {
  height: 30px !important;
  font-size: 15px;
  text-shadow: rgb(255, 255, 255) 1px 0px 0px,
    rgb(255, 255, 255) 0.540302px 0.29px41471px 0px,
    rgb(255, 255, 255) -0.416147px 0.909297px 0px,
    rgb(255, 255, 255) -0.989992px 0.14112px 0px,
    rgb(255, 255, 255) -0.653644px -0.756802px 0px,
    rgb(255, 255, 255) 0.283662px -0.958924px 0px,
    rgb(255, 255, 255) 0.96017px -0.279415px 0px;
}
.charsheet .sheet-header .sheet-zombi-bar {
  display: inline-block;
  position: relative;
  width: 140px;
  height: 16px;
  vertical-align: middle;
}
.charsheet .sheet-header .sheet-zombi-bar input {
  position: relative;
  float: left;
  width: 26px;
  height: 100%;
  margin-right: 2px;
  opacity: 1;
  z-index: 1;
  background: url("https://i.imgur.com/aaqZTjp.png") no-repeat 0 0;
}
.charsheet .sheet-header .sheet-zombi-bar input.sheet-first + input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.charsheet .sheet-header .sheet-zombi-bar input.sheet-first + input:checked {
  z-index: -1;
}

.charsheet .sheet-header .sheet-zombi-bar input.sheet-first {
  opacity: 0;
}
.charsheet .sheet-header .sheet-zombi-bar input.sheet-first,
.charsheet .sheet-header .sheet-zombi-bar input:checked ~ input {
  background: #c2c2c2 !important;
}

.charsheet .sheet-header .sheet-zombi-bar input.sheet-first + input + input {
  background-position: -28px 0;
}
.charsheet
  .sheet-header
  .sheet-zombi-bar
  input.sheet-first
  + input
  + input
  + input {
  background-position: -55px 0;
}
.charsheet
  .sheet-header
  .sheet-zombi-bar
  input.sheet-first
  + input
  + input
  + input
  + input {
  background-position: -82px 0;
}
.charsheet
  .sheet-header
  .sheet-zombi-bar
  input.sheet-first
  + input
  + input
  + input
  + input
  + input {
  background-position: -109px 0;
}

.charsheet .sheet-header .sheet-state {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  line-height: 30px;
  margin: 0 10px;
}
.charsheet .sheet-header .sheet-state > span {
  display: inline-block;
  position: relative;
  vertical-align: baseline;
}
.charsheet .sheet-header .sheet-state > span + span {
  margin-left: 5px;
}
.charsheet .sheet-header .sheet-state > span > span {
  color: rgba(0, 0, 0, 0.4);
}
.charsheet .sheet-header .sheet-state input[type="checkbox"] {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}
.charsheet .sheet-header .sheet-state input[type="checkbox"]:checked + span {
  color: #000;
  font-weight: 800;
  color: #a00000;
}

.charsheet .sheet-prop-box {
  display: block;
  position: absolute;
  width: 459px;
  bottom: 130px;
  right: 12px;
  margin: 0;
  overflow: hidden;
  z-index: 1;
}
.charsheet .sheet-prop-box .sheet-item {
  display: block;
  position: relative;
  width: 49px;
  height: 87px;
  margin: 0 1px;
  float: left;
  background: url("https://i.imgur.com/0zjlNs5.png") no-repeat 50% 0;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.6);
}
.charsheet .sheet-prop-box .sheet-item > * {
  display: block;
  position: relative;
  z-index: 1;
}
.charsheet .sheet-prop-box .sheet-item .sheet-tit {
  display: block;
  position: relative;
  text-align: center;
  z-index: 1;
  height: 30px;
  line-height: 30px;
}
.charsheet .sheet-prop-box .sheet-item .sheet-tit strong {
  font-size: 12px;
  color: #000;
  font-weight: 800;
}
.charsheet .sheet-prop-box .sheet-item .sheet-tit + div {
  display: block;
  position: relative;
  height: 57px;
  z-index: 0;
}
.charsheet .sheet-prop-box .sheet-item input[type="text"],
.charsheet .sheet-prop-box .sheet-item input[type="number"] {
  height: 60px;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  font-family: "Malgun Gothic";
  padding-bottom: 15px;
  position: relative;
  z-index: 0;
  color: #fff;
}

.charsheet .sheet-other-prof {
  display: block;
  position: relative;
  padding: 6px 0 0;
  clear: both;
  overflow: hidden;
}
.charsheet .sheet-other-prof > div {
  display: block;
  position: relative;
  width: 28%;
  float: left;
  background: #000;
  color: #fff;
  box-sizing: border-box;
  padding: 0 10px;
  line-height: 30px;
}
.charsheet .sheet-other-prof > div + div {
  margin: 0 1%;
  width: 40%;
}
.charsheet .sheet-other-prof > div + div + div {
  width: 30%;
  margin: 0;
}
.charsheet .sheet-other-prof > div strong {
  line-height: 30px;
  color: #fff;
}
.charsheet .sheet-other-prof > div strong + * {
  float: right;
  color: #fff;
  text-align: right;
}
.charsheet .sheet-other-prof > div select {
  background: transparent;
}

.charsheet .sheet-inventory {
  position: absolute;
  right: -10px;
  width: 499px;
  height: 133px;
  background: url("https://i.imgur.com/kkDAywO.png") no-repeat 0 0;
  bottom: 0;
  padding: 55px 63px 15px;
  z-index: 0;
}
.charsheet .sheet-inventory textarea {
  display: block;
  position: relative;
  resize: none;
  width: 100%;
  height: 100%;
  padding: 0px 10px 10px;
  line-height: 1.5;
  font-size: 12px;
  color: #000;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0;
  text-shadow: rgb(255, 255, 255) 1px 0px 0px,
    rgb(255, 255, 255) 0.540302px 0.841471px 0px,
    rgb(255, 255, 255) -0.416147px 0.909297px 0px,
    rgb(255, 255, 255) -0.989992px 0.14112px 0px,
    rgb(255, 255, 255) -0.653644px -0.756802px 0px,
    rgb(255, 255, 255) 0.283662px -0.958924px 0px,
    rgb(255, 255, 255) 0.96017px -0.279415px 0px;
  font-family: "Yoonwoo";
}

/****************************************************
	Sheet Control
****************************************************/

.charsheet .sheet-sheet-control {
  position: relative;
  height: 46px;
  margin: 0 0 20px;
  padding: 8px 20px;
  z-index: 0;
  line-height: 30px;
  z-index: 0;
}
.charsheet .sheet-sheet-control * {
  color: #000;
}
.charsheet .sheet-sheet-control:before {
  content: "";
  display: block;
  position: absolute;
  top: -4px;
  left: 0;
  right: 0;
  height: 54px;
  background: url("https://i.imgur.com/dBmL1sz.png") no-repeat 0 -422px;
  z-index: -1;
}
.charsheet .sheet-sheet-control:after {
  content: "";
  display: block;
  clear: both;
}
.charsheet .sheet-sheet-control .sheet-left {
  float: left;
}
.charsheet .sheet-sheet-control .sheet-right {
  float: right;
}

.charsheet .sheet-sheet-control strong {
  color: #000;
  font-weight: 800;
  margin-right: 20px;
  font-size: 14px;
}
.charsheet .sheet-sheet-control .sheet-dice-check {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0 10px;
}
.charsheet .sheet-sheet-control .sheet-dice-check {
  position: relative;
  overflow: hidden;
}
.charsheet .sheet-sheet-control .sheet-dice-check input[type="radio"] {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.charsheet .sheet-sheet-control .sheet-dice-check span {
  color: #000;
  opacity: 0.5;
  font-size: 14px;
}
.charsheet .sheet-sheet-control .sheet-dice-check select.sheet-small-select {
  display: inline-block;
  vertical-align: middle;
  background: none;
  color: #000;
  padding: 0;
}
.charsheet .sheet-sheet-control .sheet-dice-check select.sheet-small-select {
  background: transparent;
  width: 1.5em;
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
}
.charsheet
  .sheet-sheet-control
  .sheet-dice-check
  + .sheet-dice-check
  input[type="radio"] {
  right: 2.5em;
  left: auto;
}
.charsheet
  .sheet-sheet-control
  .sheet-dice-check
  input[type="radio"]:checked
  + span,
.charsheet
  .sheet-sheet-control
  .sheet-dice-check
  input[type="radio"]:checked
  + span
  select {
  font-weight: 800;
  color: #a00000;
  opacity: 1;
}

.charsheet .sheet-sheet-control .sheet-tabs div {
  display: inline-block;
  position: relative;
  color: #000;
  margin: 0 10px;
}
.charsheet .sheet-sheet-control .sheet-tabs div input[type="radio"] {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}
.charsheet .sheet-sheet-control .sheet-tabs div span {
  color: #000;
  font-size: 14px;
  opacity: 0.5;
}
.charsheet
  .sheet-sheet-control
  .sheet-tabs
  div
  input[type="radio"]:checked
  + span {
  font-weight: 800;
  color: #a00000;
  z-index: 1;
  opacity: 1;
}

/*****************************************
	Spec / Skill List
*****************************************/

.charsheet .sheet-specs-wrap {
  position: relative;
  padding: 15px 15px 15px;
  margin-top: 15px;
}
.charsheet .sheet-chk-edit,
.charsheet .sheet-chk-edit-label {
  display: block;
  position: absolute;
  width: 75px;
  height: 15px !important;
  top: 0 !important;
  right: 15px;
  left: auto !important;
}
.charsheet .sheet-chk-edit-label span {
  display: block;
  float: left;
  margin-right: 3px;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
}
.charsheet .sheet-chk-edit {
  z-index: 2;
}
.charsheet .sheet-chk-edit-label {
  z-index: 0;
  opacity: 0.8;
}
.charsheet .sheet-chk-edit-label strong {
  display: block;
  position: relative;
  float: right;
  width: 40px;
  height: 11px;
  border-radius: 9em;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.3);
  margin-top: 3px;
}
.charsheet .sheet-chk-edit-label strong:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60%;
  border-radius: 9em;
  background: rgba(255, 255, 255, 1);
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
}
.charsheet .sheet-chk-edit:checked + .sheet-chk-edit-label {
  opacity: 1;
}
.charsheet .sheet-chk-edit:checked + .sheet-chk-edit-label strong:before {
  left: 40%;
}
.charsheet .sheet-chk-edit:checked ~ * .sheet-spec-item .sheet-edit {
  display: block !important;
}
.charsheet .sheet-chk-edit:checked ~ * .sheet-spec-item .sheet-read {
  display: none !important;
}

.charsheet .sheet-chk-edit ~ * .sheet-group .repcontrol {
  display: none !important;
}
.charsheet .sheet-chk-edit:checked ~ * .sheet-group .repcontrol {
  display: block !important;
  margin-top: 5px !important;
}
.charsheet
  .sheet-chk-edit:checked
  ~ *
  .sheet-group
  .sheet-w-txt
  > input[type="text"] {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.charsheet .sheet-group .sheet-w-txt > input[type="text"] {
  font-size: 13px;
  color: #fff;
}

.charsheet .sheet-spec-list {
  display: block;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
}
.charsheet .sheet-spec-list .sheet-group {
  display: block;
  position: relative;
  width: 33.33%;
  padding: 10px;
  float: left;
  border-right: 1px solid rgba(61, 69, 76, 0.2);
}
.charsheet .sheet-spec-list .sheet-group.last {
  border: none;
}
.charsheet .sheet-spec-list * {
  font-family: "RIDIBatang";
}

.charsheet .sheet-spec-item {
  display: block;
  position: relative;
  padding-left: 35px;
}
.charsheet .sheet-spec-item .sheet-chk-spec {
  display: block;
  position: absolute;
  left: 0;
  width: 24px;
  height: 25px !important;
  top: 50% !important;
  transform: translateY(-50%);
  -webit-transform: translateY(-50%);
  background: url("https://i.imgur.com/hpCVnIE.png") no-repeat left 5px top 50%;
  opacity: 1 !important;
  z-index: 1;
}
.charsheet .sheet-spec-item .sheet-chk-spec:checked {
  background-position: right 4px top 50%;
}
.charsheet .sheet-spec-item .sheet-edit {
  display: none !important;
}
.charsheet .sheet-spec-item .sheet-name {
  display: block;
  position: relative;
  margin-right: 45px;
  height: 30px;
  line-height: 30px;
  z-index: 0;
  font-size: 13px;
}
.charsheet .sheet-spec-item .sheet-name p {
  display: block;
  position: relative;
  line-height: 30px;
  color: #fff;
}
.charsheet .sheet-spec-item .sheet-name .sheet-read,
.charsheet .sheet-spec-item .sheet-name .sheet-edit {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.charsheet .sheet-spec-item .sheet-grade {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  bottom: 0;
  z-index: 1;
}
.charsheet .sheet-spec-item .sheet-grade > input[type="number"].sheet-read {
  display: block;
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  width: 100%;
  height: 20px;
  border-radius: 9em !important;
  background: rgba(255, 255, 255, 0.15);
  text-align: center;
  color: #fff;
}
.charsheet .sheet-spec-item .sheet-grade > input[type="number"].sheet-edit {
  display: block;
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  width: 100%;
  height: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  color: #fff;
}
.charsheet .sheet-spec-item .sheet-name .sheet-w-txt {
  display: block;
  position: relative;
  padding-right: 40px;
}
.charsheet .sheet-spec-item .sheet-name .sheet-w-txt span {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
}

/*****************************************
	Toggle Pannel
*****************************************/

.charsheet .sheet-toggle-wrap {
  display: block;
  position: relative;
  padding: 0 20px 50px;
}
.charsheet .sheet-toggle-wrap.sheet-specs-wrap {
  padding: 15px 5px 50px;
}
.charsheet .sheet-toggle-wrap:after {
  content: "";
  display: block;
  clear: both;
}

.charsheet .sheet-toggle-wrap .sheet-title {
  display: block;
  position: relative;
  height: 86px;
  line-height: 77px;
  text-align: center;
  box-sizing: border-box;
  margin: 40px auto 0;
  background: url("https://i.imgur.com/tfUajUU.png") no-repeat 50% 50%;
  font-size: 15px;
  color: #fff;
  font-family: "HeirofLightBold";
  font-weight: 800;
}
.charsheet .sheet-toggle-wrap .sheet-title strong {
  font-family: "HeirofLightBold";
  font-weight: 800;
  color: #fff;
}

.charsheet .sheet-toggle-wrap .sheet-sub-title {
  position: relative;
  padding: 0;
  margin-bottom: 15px;
  font-family: "HeirofLightBold";
  font-weight: 800;
}
.charsheet .sheet-toggle-wrap .sheet-sub-title strong {
  display: block;
  font-size: 15px;
  font-family: "HeirofLightBold";
  font-weight: 800;
}
.charsheet .sheet-toggle-wrap * ~ .sheet-sub-title {
  margin-top: 20px;
}

.charsheet .sheet-toggle-wrap .sheet-title .sheet-side {
  position: absolute;
  top: 20px;
  right: 0;
  padding-right: 30px;
}
.charsheet .sheet-toggle-wrap .sheet-title .sheet-side select,
.charsheet .sheet-toggle-wrap .sheet-title .sheet-side span {
  display: block;
  position: relative;
  height: 30px;
  line-height: 30px;
  padding: 0 30px 0 10px;
  background-size: 10px auto;
  background-position: top 50% right 10px;
}
.charsheet .sheet-toggle-wrap .sheet-title .sheet-side select {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.charsheet .sheet-toggle-wrap .sheet-title .sheet-side span {
  padding-right: 10px;
}
.charsheet .sheet-toggle-wrap .sheet-title .sheet-side .sheet-dice {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.charsheet .sheet-view-type-weapon-check[value=""] ~ * .sheet-weapon-wrap,
.charsheet .sheet-view-type-backs-check[value=""] ~ * .sheet-backs-wrap,
.charsheet .sheet-view-type-memo-check[value=""] ~ * .sheet-memo-wrap {
  display: none !important;
}

.charsheet .sheet-view-type-weapon-check[value="1"] ~ * .sheet-specs-wrap,
.charsheet .sheet-view-type-weapon-check[value="1"] ~ * .sheet-memo-wrap,
.charsheet .sheet-view-type-weapon-check[value="1"] ~ * .sheet-backs-wrap {
  display: none !important;
}

.charsheet .sheet-view-type-backs-check[value="1"] ~ * .sheet-specs-wrap,
.charsheet .sheet-view-type-backs-check[value="1"] ~ * .sheet-weapon-wrap,
.charsheet .sheet-view-type-backs-check[value="1"] ~ * .sheet-memo-wrap {
  display: none !important;
}

.charsheet .sheet-view-type-memo-check[value="1"] ~ * .sheet-specs-wrap,
.charsheet .sheet-view-type-memo-check[value="1"] ~ * .sheet-weapon-wrap,
.charsheet .sheet-view-type-memo-check[value="1"] ~ * .sheet-backs-wrap {
  display: none !important;
}

.charsheet .sheet-memo-area {
  padding: 0 30px;
}
.charsheet .sheet-memo-area textarea {
  display: block;
  position: relative;
  width: 100%;
  height: 600px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px !important;
  padding: 20px;
  line-height: 1.5;
}

/*****************************************
	Weapon / Talent List
*****************************************/

.charsheet .sheet-table {
  display: block;
  position: relative;
}
.charsheet .sheet-table select {
  background-size: 10px auto;
  background-position: top 50% right 10px;
}
.charsheet .sheet-table .sheet-header {
  display: block;
  overflow: hidden;
  height: 30px;
  background: #663233;
  margin: 0;
  padding: 0 10px;
}
.charsheet .sheet-table .sheet-row {
  display: block;
  position: relative;
  margin: 0 10px;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.charsheet .sheet-table .sheet-header > *,
.charsheet .sheet-table .sheet-row > * {
  display: block;
  position: relative;
  float: left;
}
.charsheet .sheet-table .sheet-row > * {
  min-height: 30px;
  line-height: 30px;
  padding: 5px 0;
}
.charsheet .sheet-table .sheet-row > * > * {
  text-align: center;
}
.charsheet .sheet-table .sheet-header > * {
  line-height: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
}
.charsheet .sheet-table .sheet-family-data {
  display: none;
}
.charsheet .sheet-table .sheet-dic > button {
  width: 30px !important;
  height: 30px !important;
  top: 5px !important;
  left: 2px !important;
  opacity: 1 !important;
}
.charsheet .sheet-table .sheet-name > input {
  text-align: center;
  font-size: 13px;
  height: 30px;
}
.charsheet .sheet-table .sheet-effect > input {
  font-size: 12px;
  height: 30px;
}
.charsheet .sheet-table .sheet-func > * {
  text-align: center;
  text-align-last: center;
  padding-right: 15px !important;
  padding-left: 5px !important;
}
.charsheet .sheet-table .sheet-dam > * {
  display: block;
  width: 40% !important;
  float: left;
}
.charsheet .sheet-table .sheet-dam > * + * {
  width: 60% !important;
}
.charsheet .sheet-table .sheet-name {
  width: 20%;
}
.charsheet .sheet-table .sheet-effect {
  width: 80%;
}
.charsheet .sheet-table .sheet-dic {
  width: 35px;
}
.charsheet .sheet-table .sheet-weapon {
  width: 110px;
}
.charsheet .sheet-table .sheet-func {
  width: 140px;
}
.charsheet .sheet-table .sheet-dam {
  width: 95px;
}
.charsheet .sheet-table .sheet-dir {
  width: 55px;
}
.charsheet .sheet-table .sheet-count {
  width: 55px;
}
.charsheet .sheet-table .sheet-bullet {
  width: 55px;
}
.charsheet .sheet-table .sheet-fix {
  width: 35px;
}
.charsheet .sheet-table .sheet-pice {
  width: 80px;
}
.charsheet .sheet-table .sheet-def {
  width: 100px;
}
.charsheet .sheet-table .sheet-desc {
  width: 260px;
}

/*****************************************
	Background Layout
*****************************************/

.charsheet .sheet-backs-wrap textarea {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px !important;
  padding: 10px;
  line-height: 1.5;
  font-size: 12px;
}
.charsheet .sheet-backs-wrap input[type="text"] {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px !important;
  padding: 0 10px !important;
  line-height: 1.5;
  font-size: 12px;
}
.charsheet .sheet-backs-group {
  overflow: hidden;
}
.charsheet .sheet-backs-group .sheet-backs {
  display: block;
  position: relative;
  width: 50%;
  padding: 15px;
  float: left;
}
.charsheet .sheet-backs-group ~ .sheet-sub-title {
  margin-left: 15px;
}
.charsheet .sheet-backs-group .sheet-backs .sheet-cols-wrap {
  display: block;
  position: relative;
  overflow: hidden;
}
.charsheet .sheet-backs-group .sheet-backs .sheet-cols-wrap .sheet-cols {
  display: block;
  position: relative;
  padding: 0 5px;
}
.charsheet
  .sheet-backs-group
  .sheet-backs
  .sheet-cols-wrap
  .sheet-cols
  + .sheet-cols {
  margin-top: 10px;
}
.charsheet
  .sheet-backs-group
  .sheet-backs
  .sheet-cols-wrap
  .sheet-cols
  textarea {
  display: block;
  position: relative;
  height: 80px;
}

.charsheet .sheet-backs-group .sheet-rows {
  display: block;
  position: relative;
  padding-left: 60px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 5px;
}
.charsheet .sheet-backs-group .sheet-rows strong {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
}
.charsheet .sheet-backs-group .sheet-rows span {
  display: block;
  position: relative;
  height: 30px;
}
.charsheet .sheet-backs-group .sheet-txt textarea {
  height: 100px;
}

.charsheet .sheet-backs-wrap .sheet-tit {
  display: block;
  position: relative;
  font-size: 14px;
  padding-bottom: 15px;
}

/*****************************************
	CoC Template Style
*****************************************/

.sheet-rolltemplate-coc {
  padding: 10px 0;
}
.sheet-rolltemplate-coc:before,
.sheet-rolltemplate-coc:after {
  content: "";
  display: block;
  position: relative;
  height: 10px;
  clear: both;
}

.sheet-rolltemplate-coc .sheet-coc-wrap {
  max-width: 800px;
  margin: 0 auto;
}
.sheet-rolltemplate-coc .sheet-coc-wrap * {
  color: #fff;
}

.sheet-rolltemplate-coc .sheet-coc-wrap {
  position: relative;
  border: 1px solid #000000;
  border-radius: 10px;
  font-size: 12px;
  font-family: "NanumBarunGothic";
  font-weight: 600;
  background: url("https://i.imgur.com/TwTi883.jpg");
  overflow: hidden;
}
.sheet-rolltemplate-coc .sheet-coc-wrap .sheet-coc-content {
  background: url("https://i.imgur.com/TwTi883.jpg") no-repeat 100% 0;
  background-size: 100% auto;
}

.sheet-rolltemplate-coc *[class*="sheet-acc"] {
  display: block;
  position: absolute;
  background: url("https://i.imgur.com/XI37vTz.png") no-repeat 0 0;
  z-index: 2;
}
.sheet-rolltemplate-coc .sheet-acc-top {
  width: 140px;
  height: 170px;
  top: -23px;
  left: -23px;
  background-position: 0 0;
}
.sheet-rolltemplate-coc .sheet-acc-right {
  width: 45px;
  height: 65px;
  top: -6px;
  right: -13px;
  background-position: -237px -17px;
}
.sheet-rolltemplate-coc .sheet-acc-left {
  width: 100px;
  height: 66px;
  bottom: -5px;
  left: -17px;
  background-position: -5px -190px;
}
.sheet-rolltemplate-coc .sheet-acc-bottom {
  width: 90px;
  height: 109px;
  bottom: -13px;
  right: -13px;
  background-position: -192px -155px;
}
.sheet-rolltemplate-coc .sheet-coc-content {
  display: block;
  position: relative;
  padding: 10px 0 0;
  z-index: 1;
  color: #fff;
}

.sheet-rolltemplate-coc .sheet-top {
  display: block;
  position: relative;
  text-align: center;
}

.sheet-rolltemplate-coc .sheet-name {
  display: block;
  position: relative;
}
.sheet-rolltemplate-coc .sheet-name strong {
  display: block;
  position: relative;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3;
  opacity: 0.5;
  font-family: "InkLipquid";
}
.sheet-rolltemplate-coc .sheet-name span {
  display: none;
  vertical-align: middle;
  opacity: 0.5;
  font-size: 11px;
  font-weight: 400;
}
.sheet-rolltemplate-coc .sheet-name span + span:before {
  content: "◆";
  margin-right: 2px;
  opacity: 0.5;
}

.sheet-rolltemplate-coc .sheet-dice-con {
  display: block;
  position: relative;
  padding: 0 0 5px 0;
  overflow: hidden;
}
.sheet-rolltemplate-coc .sheet-dice-result {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 148px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background: url("https://i.imgur.com/g72Ju8S.png") no-repeat 50% 50%;
  background-size: contain;
  font-size: 24px;
  font-weight: 800;
  color: #fff;
  font-family: "HeirofLightBold";
}

.sheet-rolltemplate-coc .sheet-dice-result,
.sheet-rolltemplate-coc .sheet-dice-result span {
  font-family: "NanumBarunGothic";
}

.sheet-rolltemplate-coc .sheet-tit {
  display: block;
  position: relative;
  text-align: center;
  margin: 0 0 5px;
}
.sheet-rolltemplate-coc .sheet-tit > strong {
  display: block;
  line-height: 1.5;
  padding-bottom: 5px;
  font-size: 17px;
  color: #fff;
  font-weight: 800;
  font-family: "NanumBarunGothic";
}
.sheet-rolltemplate-coc .sheet-tit > strong > em {
  color: #ca1b1b !important;
  font-style: normal;
  font-family: "NanumBarunGothic";
}

.sheet-rolltemplate-coc .sheet-tit div {
  position: relative;
  background: url("https://i.imgur.com/xTi3FyR.png") repeat-x;
  height: 35px;
  padding: 0px 10px;
  box-sizing: border-box;
  line-height: 37px;
}
.sheet-rolltemplate-coc .sheet-tit div span {
  padding: 0 10px;
  font-size: 13px;
  font-weight: 600;
  color: #000;
}
.sheet-rolltemplate-coc .sheet-tit div span + span {
  padding-left: 10px;
}

.sheet-rolltemplate-coc .sheet-dicetype {
  display: block;
  position: relative;
  font-weight: 600;
  padding: 5px;
  text-align: center;
  color: #fff;
}
.sheet-rolltemplate-coc .sheet-dicetype em {
  font-style: normal;
  color: #fff;
}
.sheet-rolltemplate-coc .sheet-dicetype strong {
  font-style: normal;
  color: #de0000;
}

.sheet-rolltemplate-coc .sheet-result {
  margin-top: 10px;
  margin-bottom: 10px;
}
.sheet-rolltemplate-coc .sheet-result > span {
  display: block;
  position: relative;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}
.sheet-rolltemplate-coc .sheet-result .sheet-fumble {
  background: rgb(255, 0, 42);
  background: linear-gradient(
    -90deg,
    rgba(255, 0, 42, 0) 0%,
    rgba(255, 0, 42, 1) 50%,
    rgba(255, 0, 42, 0) 100%
  );
}
.sheet-rolltemplate-coc .sheet-result .sheet-fale {
  background: rgb(84, 0, 0);
  background: linear-gradient(
    -90deg,
    rgba(84, 0, 0, 0) 0%,
    rgba(84, 0, 0, 1) 50%,
    rgba(84, 0, 0, 0) 100%
  );
}
.sheet-rolltemplate-coc .sheet-result .sheet-success {
  background: rgb(21, 105, 96);
  background: linear-gradient(
    -90deg,
    rgba(21, 105, 96, 0) 0%,
    rgba(21, 105, 96, 1) 50%,
    rgba(21, 105, 96, 0) 100%
  );
}
.sheet-rolltemplate-coc .sheet-result .sheet-hard-success {
  background: rgb(82, 153, 78);
  background: linear-gradient(
    -90deg,
    rgba(82, 153, 78, 0) 0%,
    rgba(82, 153, 78, 1) 50%,
    rgba(82, 153, 78, 0) 100%
  );
}
.sheet-rolltemplate-coc .sheet-result .sheet-extreme-success {
  background: rgb(62, 192, 181);
  background: linear-gradient(
    -90deg,
    rgba(62, 192, 181, 0) 0%,
    rgba(62, 192, 181, 1) 50%,
    rgba(62, 192, 181, 0) 100%
  );
}
.sheet-rolltemplate-coc .sheet-result .sheet-critical {
  background: rgb(104, 185, 0);
  background: linear-gradient(
    -90deg,
    rgba(104, 185, 0, 0) 0%,
    rgba(104, 185, 0, 1) 50%,
    rgba(104, 185, 0, 0) 100%
  );
}

.sheet-rolltemplate-coc .sheet-dice-list {
  display: table;
  width: 100%;
  padding: 10px 0 5px;
}
.sheet-rolltemplate-coc .sheet-dice-list > div {
  display: table-cell;
  width: 1%;
  text-align: center;
  vertical-align: middle;
  padding: 5px 0;
  font-size: 15px;
}
.sheet-rolltemplate-coc .sheet-dice-list > div + div {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.sheet-rolltemplate-coc .sheet-dice-list * {
  font-family: "NanumBarunGothic";
}

.sheet-rolltemplate-coc .inlinerollresult {
  display: inline !important;
  font-size: 1em !important;
  opacity: 1 !important;
  padding: 0 !important;
  background: transparent !important;
  border: none !important;
}

.sheet-rolltemplate-coc .sheet-desc {
  display: block;
  line-height: 1.4;
  padding: 5px 15px 10px;
}
.sheet-rolltemplate-coc .sheet-desc strong {
  display: inline-block;
  padding: 1px 6px;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 400;
  background: #151d26;
  color: #fff;
  margin-bottom: 2px;
  border-radius: 3px;
}
.sheet-rolltemplate-coc .sheet-desc p {
  display: block;
  padding-top: 10px;
  text-align: center;
}
.sheet-rolltemplate-coc .sheet-damage,
.sheet-rolltemplate-coc .sheet-defense {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0 10px;
  text-align: center;
}
.sheet-rolltemplate-coc .sheet-damage {
  display: block;
  text-align: center;
}
.sheet-rolltemplate-coc .sheet-damage span {
  color: #ff5858;
}
.sheet-rolltemplate-coc .sheet-defense span {
  color: #b7f796;
}
